[2020-02-23 22:00] InsanelyHack opened #1 "Per Core temperature"
Works on this processor too

Motherboard MSI X570 Gaming

Also No CPU Core Temps

[2020-02-24 10:39] trulyspinach commented on #1
Thanks !

Yes I am aware of Core temps are missing. Somehow I can't find a way to get temp per core on AMD processors. Neither their document have it.

Please comment if anyone know how do to it :)

[2020-02-24 15:07] milouk opened #2 "Abnormal Temps"
Hello and thank you for your work. I get a CPU Proximity temps of ~180-200 i guess thats not right?
Also its pretty much impossible that my hard drives are that hot.

![Screen Shot 2020-02-24 at 4 56 49 PM](https://user-images.githubusercontent.com/22796276/75163549-1d4b3d80-5728-11ea-82b0-3a7b04c8bbfb.png)

[2020-02-24 15:20] milouk commented on #2
Just Noticed that iStat was in Fahrenheit. However isnt 83 Degrees Celsius too much for a cpu pretty much idling?

[2020-02-24 23:40] trulyspinach commented on #2
Yes the reading might be incorrect.
Some Zen 1 processor have a fixed offset in temperature value which I didn’t implemented yet.
I’ll look into this soon.

[2020-02-24 23:43] milouk commented on #2
Awesome work you do there mate. :) here to help anyway i can.

Cheers

[2020-02-25 14:04] orkoid commented on #1
并没有必要去刻意理会单个核心温度，过热降频是针对整体而言的。单个核心温度一般相差很小。

[2020-02-26 05:11] necross2 commented on #2
Added offset and submitted a pull request

[2020-02-26 09:41] trulyspinach commented on #2
#3

[2020-02-26 16:46] RTHPJM opened #4 "No Frequency graph data"
Hi trulyspinach,

Thanks for your work. It looks to be really promising.

I have installed v0.2 on my build (3900X with ASUS TUF Gaming X570-Plus (WiFi), OpenCore 0.5.5)

I'm not getting any Frequency graph data.

![Screenshot 2020-02-26 at 16 46 06](https://user-images.githubusercontent.com/4014147/75367012-89a87700-58b7-11ea-8162-6dd1e93a8f20.png)

[2020-02-26 16:58] pal0ntras commented on #2
Abnormal temperature on R5 2600 too
Ranging from 100-128 degree Celsius, and overflow back to 0 at 128
I am having R5 2600 on Asus TUF B350M-PLUS

[2020-02-26 23:04] tikizondo94 opened #7 "No Readings 1st Gen Ryzen 1700"
Awesome work to start! It is much appreciated. Just a heads up, I get no readings at all with my Ryzen 1700. Tried iStat and HW monitor. High Sierra 10.13.6, OpenCore 5.5. Let me know how I can help if possible.

[2020-02-27 01:19] trulyspinach commented on #4
Which OS version you are running?

[2020-02-27 01:20] trulyspinach commented on #7
Hi, thanks for your feedback.
Have you tried if AMD Power Gadget will present to you any reading?

[2020-02-27 01:27] necross2 commented on #7
Try

Try the pre merge release:
https://github.com/necross2/SMCAMDProcessor/releases/tag/0.3

[2020-02-27 01:40] orkoid opened #8 "AMD Power Gadget no work on 10.15"
Process:               AMD Power Gadget [877]
Path:                  /Users/USER/Downloads/AMD Power Gadget.app/Contents/MacOS/AMD Power Gadget
Identifier:            wtf.spinach.AMD-Power-Gadget
Version:               1.0 (1)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           AMD Power Gadget [877]
User ID:               501

Date/Time:             2020-0

[2020-02-27 01:51] trulyspinach commented on #8
Thanks for your feedback.
Unfortunately I am unable to locate the exact problem based on your crash log alone.
Could you provide me the step to reproduce this? It seems like a bug within the GUI but I have never encountered this.

[2020-02-27 02:15] orkoid commented on #8
double click to open the app and the problem will occur. no sign! need
permission setting? none icon?

<img width="344" alt="WeChat56f58f673fc5e38146a437f0c8528855" src="https://user-images.githubusercontent.com/61398882/75405845-ca50d080-5949-11ea-816a-730d1cf5ca97.png">

========================================
Process:               AMD Power Gadget [1068]
Path:                  /Users/USER/Dow

[2020-02-27 02:16] tikizondo94 commented on #7
The AMD power gadget wont run on High Sierra. Says it needs 10.14 and up to run when I try to open it. I'll try the latest pre merge in the AM! Thanks for looking into this :)

[2020-02-27 02:27] trulyspinach commented on #7
Yeah cause I’ve set the minimum target to 10.14. This will be fixed in the next release

[2020-02-27 02:49] oscarbg opened #9 "Question: threadripper 3000 support?"
Hi,

just asking as I don’t even know about general Threadripper 3000 hackintosh support..
can share light on this?

thanks..

[2020-02-27 02:54] trulyspinach commented on #9
This kext currently supports Zen 2 17h cpus.

[2020-02-27 02:54] #9 closed

[2020-02-27 06:30] trulyspinach commented on #2
this should be fixed now. #6

[2020-02-27 06:30] #2 closed

[2020-02-27 07:09] trulyspinach opened #10 "SMC keys for iStat and MacFanControl"
I'm having a hard time figuring out the combinations of SMC keys required for iStat to display a type of sensor. So some sensors might not be available based on your SMBios type.

For example, if both KeyPCPT and KeyPCTR are enabled power sensor would show up but CPU Proximity disappears at the same time.

Any suggests are welcomed.

[2020-02-27 07:11] trulyspinach commented on #8
this should be fixed by the latest release.
https://github.com/trulyspinach/SMCAMDProcessor/releases/tag/0.2.1

[2020-02-27 07:11] #8 closed

[2020-02-27 07:13] trulyspinach commented on #7
Support for 10.13 was added with the latest release,
https://github.com/trulyspinach/SMCAMDProcessor/releases/tag/0.2.1

Could you download and check if it is working?

[2020-02-27 07:56] sisumara opened #12 "AMD Threadripper 1920x - incorrect temperature and frequency data"
Hi

Using latest 0.2.1 version of kext and have incorrect temps and freq data on Power Gadget.
<img width="478" alt="Screenshot 2020-02-27 at 09 50 46" src="https://user-images.githubusercontent.com/61536902/75423225-f61e8700-5946-11ea-8b32-8adcf0ab44df.png">

When power gadget showed 66C in my integrated in mobo monitor I had 39C. Also I have enabled Core Boost feature in BIOS so frequencies  isn

[2020-02-27 08:01] trulyspinach commented on #12
Are you sure your mobo is showing **package temp** instead of **heatsink**?

[2020-02-27 08:06] sisumara commented on #12
It is showing Tdie temp according to HWinfo64 in Windows. The same temps is visible on motherboards OLED display.
<img width="358" alt="Capture" src="https://user-images.githubusercontent.com/61536902/75424195-d8eab800-5948-11ea-90ec-3e27c5a5860d.PNG">

[2020-02-27 08:17] trulyspinach commented on #12
Oops, I don't have a 1920x to test be seems like it is reporting Tctl?

[2020-02-27 08:21] sisumara commented on #12
I think so. Maybe I can help you with testing?

[2020-02-27 08:28] trulyspinach commented on #12
Sure. Reporting Tctl is the expected behavior for now.
There is currently no plan for adding support for extra sensors.

Relating to the frequency problem, I believe since macOS have no PM support for AMD processors the frequency should be fixed when Core Boost is enabled. But unfortunately I am unable to confirm that as well.

[2020-02-27 09:29] iCanaro opened #13 "not yet functional mojave and high sierra"
not yet functional mojave and high sierra, the kext is not loaded
![Schermata 2020-02-27 alle 09 35 08](https://user-images.githubusercontent.com/54031714/75430396-8959bb80-594b-11ea-8f47-9fb02c9a5f43.png)

on catalina the measurements of the 3950x seem in place since the first version
![Schermata 2020-02-27 alle 10 28 02](https://user-images.githubusercontent.com/54031714/75430614-dc337300-594b-1

[2020-02-27 09:45] RTHPJM commented on #4
Hello trulyspinach,

I am running 10.15.3 Catalina.

It might be BIOS related. I’ve used the built in over locking tuner, everything on auto but target cpu frequency raised to 4.2GHz. During one of the reboots, I saw the frequency graph, but only once (and I forgot to record which settings were in use!).

The kernel log (dmesg) appears to be reporting the client is sending NAN to the graph. I will

[2020-02-27 09:50] RTHPJM commented on #4
`error	09:49:28.341320+0000	AMD Power Gadget	CGPathCloseSubpath: no current point.
error	09:49:28.341332+0000	AMD Power Gadget	Error: this application, or a library it uses, has passed an invalid numeric value (NaN, or not-a-number) to CoreGraphics API and this value is being ignored. Please fix this problem.
error	09:49:28.341345+0000	AMD Power Gadget	If you want to see the backtrace, please set

[2020-02-27 09:53] RTHPJM commented on #4
I am happy to help debug. Jus let me know if there is any information you need.

[2020-02-27 10:05] trulyspinach commented on #4
Hi!
Those warnings should be fine. It is some minor bugs that appears on my end as well. Only in the first frame, tho.
As you have mentioned, it is likely cause by that your frequency are maintained constant.

[2020-02-27 10:10] trulyspinach commented on #13
The kext itself should not refuse loading.
However it check your system configuration briefly before loading itself.
Can you confirm that your system configuration is same cross both of your cases?

Plus, what would your temperature normally be?

[2020-02-27 10:51] iCanaro commented on #13
the configuration is the same for all macOS
my ryzentosh starts with OpenCore

The temperature fluctuates from 30 ° at rest to 73 ° when under continuous effort

https://www.macos86.it/topic/1948-ryzentosh-3950x-msi-unify-arez56-hs-mojave-catalina/

[2020-02-27 10:53] trulyspinach commented on #13
Thanks, I will look more into this.

[2020-02-27 11:18] iCanaro commented on #13
Thank you very much
![catalina2020-02-27 alle 12 16 01](https://user-images.githubusercontent.com/54031714/75440002-2d972e80-595b-11ea-8a8a-fcb38906fcb7.png)
![high sierra 2020-02-27 alle 12 12 34](https://user-images.githubusercontent.com/54031714/75440006-2ff98880-595b-11ea-8708-3c6bed373c69.png)
![mojave 2020-02-27 alle 12 09 45](https://user-images.githubusercontent.com/54031714/75440007-30921

[2020-02-27 11:22] trulyspinach commented on #13
Thanks, this is very helpful.
Can you also try to load it with kextutil on 10.13 and screen shoot the result?

You might need the `-r` flag with a directory contains. Lilu and VirtualSMC for kextutil to work.

[2020-02-27 11:57] iCanaro commented on #13
except kext paragon for NTFS all kext are injected by EFI
They are not installed in L / E or S / L / E

[2020-02-27 12:21] iCanaro commented on #13
trying to install the kext in L / E on mojave, this is the result
![mojave kext install  2020-02-27 alle 13 12 44](https://user-images.githubusercontent.com/54031714/75444644-19a3fa80-5964-11ea-863e-239830ef3799.png)

[2020-02-27 13:54] trulyspinach commented on #13
Thanks for helping me:)

As I have mentioned, you need to load it with depenceicies.

[2020-02-27 15:25] iCanaro commented on #13
![Schermata 2020-02-27 alle 16 16 15](https://user-images.githubusercontent.com/54031714/75457767-28e37200-597d-11ea-873f-ef80625d6677.png)

be patient, I'm not a dev or a coder, simple user with some notions, I created a folder by calling it
TestKext
inside which I inserted Lilu, VirtualSMC and SMCAMDProcessor; if you tell me the exact syntax to use kextutil then i can help you

[2020-02-27 21:15] tikizondo94 commented on #7
Ok, tried the latest 0.2.1 Kext. Still a no go. When trying to open AMD Power Gadget i get
"SMCAMDProcessor.kext not found, quit-download". Also no sensor readings within iStat or HW Monitor. Sorry to bring bad news..

[2020-02-28 06:02] trulyspinach commented on #13
Hi, thanks for helping along.

Imagine if you have a folder structured like this:

[code]

Then all you need to do is:
`sudo kextutil -r deps SMCAMDProcessor.kext`

This will try to load the kext at run time. You can then open IOReg or using kextstat to see if the kext is loaded. You can also view errors using:
`sudo dmesg`

[2020-02-28 08:58] RTHPJM commented on #4
Also
default	08:56:39.166779+0000	kernel	AMDCPUSupportUserClient::externalMethod selector:4

[2020-02-28 10:53] yurkins commented on #4
I fixed this on my overclocked ryzentosh 3950x :)
On overclocked CPUs with a constant frequency the "_let dataDiff = dataMax - dataMin_" is 0 and later are division by 0 and NaN as result.
Small fix "_let dataDiff = max(dataMax - dataMin, 1)_"
@trulyspinach please add this small fix in **GraphView.swift**(3 places)
https://i.imgur.com/SL1U1GU.png

[2020-02-28 11:13] RTHPJM commented on #4
Confirmed.

Setting the BIOS Tweaker target clk to AUTO gives varying frequency data, correctly plotted by APG

![200228110455](https://user-images.githubusercontent.com/4014147/75543969-e8d2cc80-5a1a-11ea-9267-7a9b097f1f32.png)

![Screenshot 2020-02-28 at 11 02 46](https://user-images.githubusercontent.com/4014147/75544005-fab46f80-5a1a-11ea-8c72-c2a3ffe28ff2.png)

Setting to a fixed target speed

[2020-02-28 11:15] trulyspinach commented on #4
@yurkins  @RTHPJM  Many thanks 🥇
I will add this into the source code!

[2020-02-28 12:13] iCanaro commented on #13
![Schermata 2020-02-28 alle 13 05 35](https://user-images.githubusercontent.com/54031714/75547499-50911380-5a2b-11ea-9754-04c22d9a4adb.png)
![Schermata 2020-02-28 alle 13 06 14](https://user-images.githubusercontent.com/54031714/75547516-58e94e80-5a2b-11ea-8af1-80ebe5fe2586.png)
![Schermata 2020-02-28 alle 13 05 10](https://user-images.githubusercontent.com/54031714/75547529-61418980-5a2b-11ea-94e

[2020-02-28 15:08] RTHPJM opened #14 "Suggestions on Icon?"
Hi trulyspinach,

I humbly submit a potential app icon...

[Assets.xcassets.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/4267666/Assets.xcassets.zip)

![1024](https://user-images.githubusercontent.com/4014147/75560812-cd2ced80-5a3d-11ea-9a7c-4e5d35642862.png)

[2020-02-28 15:30] iCanaro commented on #13
![Schermata 2020-02-28 alle 16 29 31](https://user-images.githubusercontent.com/54031714/75561584-8c39d680-5a47-11ea-94e0-daa6f85382a6.png)

[2020-02-29 02:55] orkoid opened #15 "AGP display issue"
Constant temperature、frequency、 power consumption will lose reference objects in the view.

<img width="410" alt="WeChate94d759e1e71579e555afe4aa2d83cab" src="https://user-images.githubusercontent.com/61398882/75599622-b50eaa00-5ae1-11ea-9de6-7f9b45cd8c97.png">

<img width="410" alt="WeChat69b7340082b3bc68cf399f4c59543ebf" src="https://user-images.githubusercontent.com/61398882/75599650-e9826600-5

[2020-02-29 02:58] orkoid commented on #14
awesome,think it should reflect AMD (*•̀ㅂ•́)و

[2020-02-29 05:32] trulyspinach commented on #15
This behavior expected given current set of rules to display the graph, which is not really an issue.
However, I am aware of the non-aesthetic part in it. A better version should be close for now!

With that, I'll close this for now.

[2020-02-29 05:32] #15 closed

[2020-02-29 11:26] trulyspinach commented on #13
Thanks for the help.
Please allow me to put spent more time looking into this.

[2020-02-29 20:28] radianttap commented on #10
Have you [seen this file](https://github.com/acidanthera/VirtualSMC/blob/master/Docs/iStat.txt), from VirtualSMC repo?

It specifically addresses iStat support.

[2020-03-01 04:24] trulyspinach commented on #10
@radianttap I have tried to register only combination of keys listed for a SMBios type in the file you've mentioned but still no luck.

[2020-03-01 05:51] trulyspinach commented on #13
[SMCAMDProcessor.kext.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/4271409/SMCAMDProcessor.kext.zip)

Hi, would you please test and see if this version of kext will work for you on macOS 10.13?

I have tested on my end and it works for me.

[2020-03-01 09:43] iCanaro commented on #13
high sierra partial work
![APG_highsierra_2020-03-01 alle 10 31 26](https://user-images.githubusercontent.com/54031714/75623331-37ae6c80-5ba9-11ea-85c5-b1cb5ac184a5.png)

mojave OK
![APG_mojave_2020-03-01 alle 10 35 08](https://user-images.githubusercontent.com/54031714/75623345-64fb1a80-5ba9-11ea-9757-132cfe772048.png)

catalina OK
![APG_Catalina_020-03-01 alle 10 43 10](https://user-images.githu

[2020-03-01 09:46] trulyspinach commented on #13
hmm so those lines are missing in 10.13. Interesting.
Glad to see the kernel extension finally work! I will try to fix the UI soon.

[2020-03-01 12:03] trulyspinach commented on #13
Thank you a lot for helping me do these tests.
I have just published a new release and everything should be fixed by now!

[2020-03-01 12:03] #13 closed

[2020-03-01 12:04] #4 closed

[2020-03-01 12:08] trulyspinach commented on #7
I have just published a new release with fixes for 10.13, and will close this issue for now.

Please open a new one if there are issues regarding support for 1st gen Ryzen if necessary.

[2020-03-01 12:08] #7 closed

[2020-03-01 12:09] trulyspinach commented on #1
I'll close this issue for now as there are currently no available information regarding per core temperature on AMD processors.

[2020-03-01 12:09] #1 closed

[2020-03-01 14:05] iCanaro commented on #13
now with high sierra he works perfectly
thanks for your commitment

[2020-03-01 19:57] bassrock opened #16 "AMD 3950x Works"
Not an issue, but wanted to just say it works on a 3950x pretty well! Thanks!

![Screen Shot 2020-03-01 at 11 55 57 AM](https://user-images.githubusercontent.com/1010384/75632717-bdcfb080-5bb3-11ea-9bc9-6f6a641f67e4.png)

[2020-03-01 19:57] #16 closed

[2020-03-02 23:56] Murmur2k commented on #10
Works well on TG Pro.. thanks! Any plans to expose fan controls?

[2020-03-03 00:35] trulyspinach commented on #10
@Murmur2k i don’t think per core temperatures are possible due the AMD lack of those sensors(as far as I know).
Yes, there are plans for adding fan control. But not in any priority.

[2020-03-03 07:29] ProfDrLuigi opened #17 "Version Mismatch"
Hello.

I´m the Author of the "Kext Updater". I want to add your Kext to it. But your version inside the Info.plist is wrong.
<key>CFBundleShortVersionString</key>
        <string>1.1.1</string>
and
<key>CFBundleVersion</key>
        <string>1.1.1</string>

Could you please set it to the real Version number because the Kext Updater is checking these values to check for a newer release.

[2020-03-03 07:34] trulyspinach commented on #17
Hi ProfDrLuigi,

Thanks for pointing this out 🤣.
I am a bit lazy at version number during the first release so now it don't even sync with the release number on Github.

As a new release is coming soon, I will fix that by starting a new version number.

[2020-03-03 07:37] ProfDrLuigi commented on #17
Nice, thank you. :)

[2020-03-03 11:51] orkoid commented on #12
The problem of inaccurate readings also appeared on 2990WX. I used zenith extreme. APG showed that my power occasionally soared to hundreds of millions of watts. So I thought the developers did not test for 2990WX!

[2020-03-03 11:54] trulyspinach commented on #12
I have tested and verified that reading on Threadripper 2990WX is correct. @orkoid

[2020-03-03 23:35] Murmur2k commented on #10
@trulyspinach yes, sorry I think you are right on the per core sensor temperatures. Really appreciate your work here, I'm after the holy grail of CPU (3900X) temp, fan control access and GPU temps (haven't been able to get this working on Radeon VII).. let me know if I can assist with testing or if you have a beer pot!

[2020-03-05 08:29] trulyspinach commented on #10
@Murmur2k I believe iStat can show GPU temperature and power? At least it is working for my RX580. I have no plan for adding GPU reading as this project is focused on AMD CPU. You are more than welcomed to join the testing, tho.

[2020-03-08 01:49] joadr commented on #12
I have a Ryzen 3950X and I'm having weird lectures too :(
<img width="405" alt="Screenshot 2020-03-07 at 22 32 13" src="https://user-images.githubusercontent.com/2286411/76155076-d82ef000-60c5-11ea-94a2-fe2bfa655cc5.png">

[2020-03-09 15:29] trulyspinach commented on #17
@ProfDrLuigi I have just published the new release.
Could you please check if the version number is valid now?

[2020-03-09 17:50] ProfDrLuigi commented on #17
Nice. Looks good now. :)

[2020-03-09 19:29] rumenyavorov opened #18 "No SMCAMDProcessor Found!"
I downloaded the kext moved it to efi added it to config.plist, rebooted and still when i try to open your app
\Please download SMCAMDProcessor from the release page.\
Please help.

OpenCore 0.5.4
Catalina 10.15.4 Beta (19E224g)
Ryzen 5 3600
Sapphire Nitro+ Rx 5700 XT
Gigabyte B450 Aorus Pro

[2020-03-09 19:48] aluveitie opened #19 "Power and undervolting"
It looks like power management of the AMD Power Gadget does not work when the CPU is fixed to 1.2V in the BIOS but the frequency is fixed to 3.8 GHz (but the CPU stays rather quiet at max 60 degrees under heavy load).

Might be a technical limitation rather than a bug. But it would be nice to have the option for Speed steps to not go over a certain frequency (for example limit to 3.8 or 4.0 GHz).

[2020-03-09 21:27] Murmur2k commented on #18
Sorry if obvious but is the Kext Enabled in your config?

[2020-03-09 21:28] rumenyavorov commented on #18
Yes it is enabled, i was testing it from USB can it be a problem?

[2020-03-09 23:15] Murmur2k commented on #19
@trulyspinach firstly, I want to say this is groundbreaking for the AMD Hackintosh community and I really appreciate your work. Very much looking forward to how this progresses

@aluveitie also on 3900X I saw similar in that the frequency would only go down to about 3.2 GHz.. In BIOS I had increased the multiplier to 40 from the default 38 and enabled XMP. Resetting my BIOS to default CPU settings

[2020-03-10 00:02] trulyspinach commented on #18
Unlikely caused by USB. Like @Murmur2k said, make sure you have the enabled field marked true in config. Another common problem to check is to make sure you have latest Lilu and VirtualSMC. This KEXT requires the latest version to load.

If it still refuse to load, you can either see OpenCore’s log or load it with kextutil to view what is wrong. If you share those logs to me I can help you diagnos

[2020-03-10 00:07] trulyspinach commented on #19
Thanks a lot for your feedbacks @aluveitie @Murmur2k.
Just want to confirm that “not going down” means there isn’t an option for lower speed step or there is an option but clicking on it doesn’t work?

[2020-03-10 00:07] trulyspinach commented on #19
Thanks a lot for your feedbacks @aluveitie @Murmur2k.
Just want to confirm that “not going down” means there isn’t an option for lower speed step or there is an option but clicking on it doesn’t work?

[2020-03-10 00:12] trulyspinach commented on #17
Great :)

[2020-03-10 00:12] #17 closed

[2020-03-10 04:21] orkoid opened #20 "new display bug ！！！"
are you tested？？？
2990 prefers cores 0-15 to be used first 0.0

<img width="522" alt="截屏2020-03-10下午12 07 54" src="https://user-images.githubusercontent.com/61398882/76279042-34f9f880-62c8-11ea-8b37-68e4e0fa2846.png">

[2020-03-10 05:08] trulyspinach commented on #20
Closed due to unreadable content.

[2020-03-10 05:08] #20 closed

[2020-03-10 05:43] luk24 commented on #20
兄弟，态度放端正点，是问题就提，别带情绪

[2020-03-10 06:17] aluveitie commented on #19
The option is there, but it has no effect.

That's said, with undervolting I don't see any change in CPU frequency at all, it's fixed to 3.8 GHz (even with the previous version). Power usage though varies depending on load and CPU temperature drops down to 38 C with no load.

I've undervolted to be on the save side since previously we didn't have CPU temps available and for 10% lower performance I

[2020-03-10 09:28] orkoid opened #21 "some questions waiting to be confirmed"
are you tested???pointer goes outside the window。

just feedback on the problem，Don't use your words to provoke war。

<img width="522" alt="截屏2020-03-10下午12 07 54" src="https://user-images.githubusercontent.com/61398882/76298215-13af0180-62f4-11ea-8ce1-49b4037ccab4.png">

[2020-03-10 10:24] orkoid commented on #21
additional question

when I use cinebench to test performance, the 2990WX frequency will be reduced to a stable 3.6GHz, and when rendered using Houdini, the frequency will fluctuate between 3.88 ~ 3.90GHz. In addition, this version will also cause Houdini to exit unexpectedly after rendering for a short time.

[2020-03-10 11:45] trulyspinach commented on #21
Hi @orkoid, I appreciate your efforts in sharing the feedback, though I am not sure what you are referring to as "provoke war".

Answers to your concerns:
* I guess you are referring to testing the software. Yes I have had it tested on Threadripper 2990WX. In addition, the screenshot you've uploaded are more likely resulted by small GUI issue, which is not related to neither kext nor the processor

[2020-03-10 11:45] #21 closed

[2020-03-10 12:01] trulyspinach commented on #19
@aluveitie thanks for your feedback.
I wasn't sure how your BIOS implemented undervolting but it is likely implemented in external chips(most likely in NB chipset). At this point I have only implemented configurations within CPU.

However, I don't really think undervolting is necessary as most BIOS also have overtemp protection🤣. Even though I would like to implement every BIOS config feature but

[2020-03-10 12:14] aluveitie commented on #19
@trulyspinach Thanks for your feedback, switching CPB on/off might be what I'm looking for.

My case has limited air flow and with just a little undervolting it ran rather cool and quiet even under heavy sustained load. If I can achieve the same thing with just switching CPB all the better 👍

[2020-03-10 12:15] #19 closed

[2020-03-10 17:23] tehss1 opened #22 "App error"
I get the following when launching the application, any help is greatly appreciated.

Process:               AMD Power Gadget [1176]
Path:                  /Applications/AMD Power Gadget.app/Contents/MacOS/AMD Power Gadget
Identifier:            wtf.spinach.AMD-Power-Gadget
Version:               1.2 (2)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           A

[2020-03-11 04:50] trulyspinach commented on #22
This looks like a bug in the application. Does it happens all the time? Can you share with me the step to reproduce this crash?

[2020-03-11 12:37] tehss1 commented on #22
It happens every time I launch the application. I haven't been able to launch it successfully without the above error. I'm glad to do any testing for you just let me know what I can do to help!

[2020-03-11 12:59] trulyspinach commented on #22
Hi @tehss1, thanks for the feedback. I am guessing this is caused by incorrect data being read by the kext. Can you tell me which processor are you using?

[2020-03-11 13:14] tehss1 commented on #22
I'm running a Ryzen 7 2700x

[2020-03-11 22:17] robpneu opened #23 "Power Tool - Incorrect behavior after waking from sleep"
After waking from sleep it seems that the Power Tool isn't reading all the cores properly. Here's a few gifs from some screen recordings I took.

After waking from sleep (notice how only the last bar moves):
![AMD-Power-Tool-After-Waking-up-from-Sleep-small](https://user-images.githubusercontent.com/10223171/76469026-0a389e80-63b3-11ea-9c3b-739a8300fc8b.gif)

Another example after waking from slee

[2020-03-11 23:11] trulyspinach commented on #23
Hi @robpneu, thanks a lot for your feedback. I wasn’t realizing this issue as I haven’t setup my hackintosh to sleep yet. I am just wondering if AMD Power Gadget would continue to work correctly after wake up from sleep? Plus if you restart the application, will it start to working again?

[2020-03-11 23:48] robpneu commented on #23
I believe Power Gadget is performing correctly before and after sleep (that is to say, it is displaying Frequency, Temperature, and Power, accurately I believe), but it is showing the issues that the Power Tool is causing.

I think the issue is with the effective frequency and demand graphs: if they get stuck the rest just reflects that being stuck. I haven't looked through your code but I suspect

[2020-03-12 04:25] trulyspinach commented on #23
Hi @robpneu. From this point I suspect this is caused by a reset in cpu topology defined by XNU after wake up from sleep. And the kext did not reconstruct its content with up to date changes. I can't get my Hackintosh sleep working so at this moment I am unable to reproduce this on my computer.

I will leave this open for now as I am current redoing the CPU configuration part in the kext as my pla

[2020-03-12 04:28] trulyspinach commented on #18
Hi @rumenyavorov, have this been resolved?

[2020-03-13 23:45] robpneu commented on #23
Seems logical to me. I've been through my share of issues with sleep (and mine still isn't perfect, but I'm mostly using it for now).

Will do! I was curious so I gave this a try; I have enough backup systems in place that even if it borked my system I'd be able to get it working again. Bugs like this are part of the process. I'm happy to do additional testing in the future.

I just wish Github di

[2020-03-14 00:04] #18 closed

[2020-03-14 00:05] trulyspinach commented on #22
Hi @tehss1, can you try if the new release fixed this problem?

[2020-03-14 00:31] #22 closed

[2020-03-14 00:31] tehss1 commented on #22
Works perfectly, thanks so much!

[2020-03-14 08:14] JoshuaMelton opened #24 "CPU speed turns back to default after reboot"
Hi,bro.My hackintosh platform is Ryzen 3800X + MSI B450 mortarMax. It occured to me that The CPU clock speed configuration turns back to default after I reboot my computer.
<img width="599" alt="51E6EA58-64AC-4A63-B8FE-2057E8BC9E82" src="https://user-images.githubusercontent.com/51435438/76677955-b2966f00-660e-11ea-8960-77d19e84f69c.png">

[2020-03-14 08:20] #24 closed

[2020-03-14 10:15] trulyspinach commented on #24
Oops, it will be reset by BIOS after reboot. There isn't an option to save as profile yet. I've forgot to mention :(.

[2020-03-15 01:26] JoshuaMelton commented on #24
Thanks for your kindly reply. I notice that mention in app already. Sorry that I had bothered you.

[2020-03-15 03:23] bondpham commented on #12
I have ryzen 5 2600 and temperature not correct (23C, in HWinfo64 46C). Can you fix it? Thank you.

[2020-03-16 23:42] trevorkw7 opened #25 "AMD Ryzen 5 2600: Fully Functional, or not ? :)"
Just wanted to report that both the Power Gadget and Power Tool work flawlessly on the Ryzen 5 2600 besides the previously reported sleep/wake issue. Love the interface and the intuitive
speed step control!

[2020-03-17 02:23] Pavo-IM opened #26 "AMDPG 1.2.2 Motherboard Info"
The motherboard info isn't showing up for some of us that have Ryzen 9 CPUs. I would suggest changing the method of the function you currently use to pull that info from https://github.com/trulyspinach/SMCAMDProcessor/blob/3cc76abe5e3ee5b4830e30581209fb51fc5f62c0/AMD%20Power%20Gadget/ProcessorModel.swift#L188 to pulling the info from nvram since ExposeSensitiveData value 8 add OEM info to nvram. T

[2020-03-17 04:28] trulyspinach commented on #25
Hi @trevorkw7, thanks for your feedback. I am glad to hear it is working and that you like the UI :).
I will put it into tested processors soon.

[2020-03-17 08:11] messenger2011 commented on #25
I have Ryzen 5 2600 same, but the display temp always lower than real temp 15 degrees. Dont know why, I'm using IStatMenu :(

[2020-03-18 12:30] trulyspinach commented on #25
@messenger2011 Yes, this should be caused by a known bug. I will post a fix soon.

[2020-03-18 13:37] aluveitie commented on #26
[code]

[2020-03-18 13:40] trulyspinach commented on #26
This kext is currently reading EFI variables exposed by OC. Which is same as what `nvram` doing. However there seems to be some problem preventing it from reading it normally. I am still investigating this issue. Still not sure what is causing it as it works every time on my system.

[2020-03-18 14:17] Shaneee commented on #26
Working fine on Ryzen 5 3600 with MSI MPG X570 Gaming Plus using OpenCore 0.5.7 and 10.15.3

[2020-03-19 07:49] aperture147 commented on #25
Love you UI, it's so nice and elegant!
I'm also having the low temperature issue too. Hope this will not affect the performance of the CPU.
![Screen Shot 2020-03-19 at 14 31 21](https://user-images.githubusercontent.com/32543264/77043749-c5cf8300-69f0-11ea-8b9a-b19936427c0c.png)

[2020-03-19 07:52] aperture147 commented on #26
Working fine on MSI B450 TOMAHAWK (MS-7C02) with open core 0.5.6, macOS 10.15.3
![Screen Shot 2020-03-19 at 14 51 59](https://user-images.githubusercontent.com/32543264/77043988-34144580-69f1-11ea-966b-7c15e1a991fb.png)

It seems like most of MSI boards works really well with macOS.

[2020-03-19 09:54] trulyspinach commented on #25
Hi, @messenger2011, @aperture147. Can you please give a quick try on this build and see if it fix the temperature issue ?

[SMCAMDProcessor.kext.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/4353803/SMCAMDProcessor.kext.zip)

[2020-03-19 10:23] Razer0123 commented on #25
Does not work, won't recognize the processor and AMD gadget will not start

[2020-03-19 10:27] trulyspinach commented on #25
Oops, sorry unloaded the wrong file :P.

Please use this one instead:
[SMCAMDProcessor.kext.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/4353944/SMCAMDProcessor.kext.zip)

[2020-03-19 11:20] Razer0123 commented on #25
Not sure how much the temperature is accurate, but yes seems to work now :)

[2020-03-19 14:02] messenger2011 commented on #25
I'm not at office now, will try it tomorrow :)

[2020-03-19 14:41] bassrock commented on #14
Here's one that a friend of mine put together for this project (they don't have a github so posting for them):

![AMD-PowerGadget-1024](https://user-images.githubusercontent.com/1010384/77079269-fc87a800-69b4-11ea-9524-8916290a34c0.png)

[2020-03-19 16:45] tehss1 opened #27 "Istat Menu's no longer show CPU proximity"
Hi, Istat Menu's no longer shows CPU proximity temp after 0.3.2 release.

Ryzen 7 2700x

Any help with this is greatly appreciated.

[2020-03-19 16:58] trulyspinach commented on #27
It is working on my end. I will look into this soon :)

[2020-03-19 17:03] sisumara commented on #12
With latest release I have correct temperatures and frequencies. Thank you
<img width="478" alt="Screenshot 2020-03-19 at 19 02 05" src="https://user-images.githubusercontent.com/61536902/77093856-49e73200-6a14-11ea-9046-e77ecd5af62d.png">

[2020-03-19 17:03] #12 closed

[2020-03-19 20:25] ryukgt commented on #27
I have the same problem with version 0.3.2 and 0.3.3 with Ryzen 2600.

[2020-03-20 06:04] messenger2011 commented on #25
Working great now! Double check with Bios and Thermal Meters :)

[https://i.imgur.com/MPKJ7wd.png](https://i.imgur.com/MPKJ7wd.png)

[2020-03-20 06:22] trulyspinach commented on #25
niceee !

[2020-03-20 06:22] #25 closed

[2020-03-20 07:40] trulyspinach commented on #27
I've found the problem!
Will be fixed in the next release.

[2020-03-20 08:18] aperture147 commented on #25
Checked on my machine, the temperature seems correct now. Love your work! Keep it up!
![Screen Shot 2020-03-20 at 15 16 36](https://user-images.githubusercontent.com/32543264/77146544-dbf74500-6abd-11ea-8071-935e9b12ffe3.png)

[2020-03-20 12:50] weigeloveu opened #28 "5 core will frozen after wake from sleep"
Im ryzen 3600,it works when system booted.but 5 core will frozen after wake from sleep.i don't know what caused  the problem.
<img width="1065" alt="截屏2020-03-20 20 46 49" src="https://user-images.githubusercontent.com/19830500/77164788-f3e5bd80-6aeb-11ea-985e-5a8d5c7c05bc.png">

[video](https://youtu.be/prdIOuQjQAA)

[2020-03-20 12:53] trulyspinach commented on #28
Hi @weigeloveu, thank you for your feedback.
This issue was already reported at #23 and there isn't a fix available yet. I will close this issue as it is a duplicate and please watch #23 for update on this.

[2020-03-20 12:53] #28 closed

[2020-03-20 13:55] trulyspinach commented on #14
Thanks all of you for your contributions!

I have finally decided to use this one sent to me by @Shaneee.
![Screenshot_2020-03-19_14 56 48](https://user-images.githubusercontent.com/8978490/77169852-27791580-6af5-11ea-83d9-ce4e62923c00.png)

It have a simplistic looking and reflects both AMD branding and the usage of this application!

[2020-03-20 14:03] trulyspinach commented on #27
Hi @tehss1, @ryukgt.
Please give the new release a try. It should work now.

[2020-03-20 15:07] trulyspinach commented on #26
Solved in r0.3.4 :)

[2020-03-20 15:07] #26 closed

[2020-03-20 15:19] tehss1 commented on #27
@trulyspinach just updated and can confirm it's now working. thanks!

[2020-03-20 16:26] ryukgt commented on #27
@trulyspinach Now Working with new release!. Thanks!

[2020-03-21 01:43] trulyspinach commented on #27
Nicee:)

[2020-03-21 01:43] #27 closed

[2020-03-21 14:16] Murmur2k commented on #10
@trulyspinach I've just updated to the latest version and I just wanted to thank you again - amazing work. By the way, is it intentional that the CPU proximity temperature is exposed twice for example in TG Pro? It could be TG Pro at fault here of course.

![Screenshot 2020-03-21 at 14 13 21](https://user-images.githubusercontent.com/43711160/77228282-217b4700-6b7e-11ea-8682-198b1635a534.png)

[2020-03-21 14:20] trulyspinach commented on #10
@Murmur2k I really have no idea. How different third party tool using SMC keys is very odd. So I have hoping someone with better knowledge would help me here.

[2020-03-21 22:58] Shaneee commented on #10
I also have this. What portion of SMCAMDProcessor deals with this? I have an idea.

![Screenshot 2020-03-21 22 57 26](https://user-images.githubusercontent.com/16089049/77238401-742d2100-6bc7-11ea-89df-9be537ae5407.png)

[2020-03-22 10:31] trulyspinach commented on #10
Should not be VirtualSMC's issue, all it does is present registered keys to applications. It is mostly how different applications interpret them as I believe there isn't any official documentation from Apple states SMC keys of each model.

[2020-03-25 08:17] mathisschmieder commented on #25
To be expected, but working perfectly fine on a 2600X as well :) Thanks for all your work, looking forward to what's to come!

[2020-03-25 08:22] mathisschmieder opened #29 "Power Tool - Demand seems to be static"
Hi,

I'm running a Ryzen 2600X and temperature monitoring is working perfectly fine! What does seem strange to me though is that Power Tool shows a "static" demand. The red bars are fixed and are not moving. I can see the blue bars moving though.

![image](https://user-images.githubusercontent.com/951361/77516048-f2185300-6e79-11ea-9773-eea6c9bf4c8d.png)

Is this expected/known, or an error?

Than

[2020-03-25 13:02] trulyspinach commented on #29
Thanks for your feedback.

This should be an issue unless it is actually maintaining a constant load.
Is this happens constantly? If not can you maybe points out the steps to reproduce this?

[2020-03-25 13:03] trulyspinach opened #30 "General Discussion"
Hi all.
I have opened this issue for you to post anything related to this project. Questions\, bug report, feature request and improvement are all welcomed!

[2020-03-25 13:06] nvollmar commented on #23
I've the same issue: last core is just staying at a high frequency after wakeup from sleep.

Workaround for me is just disabling and then enabling `Automatic Speed Adjustment` again, after that all cores are working properly again.

[2020-03-25 13:08] nvollmar commented on #30
I'd be nice to have the option to keep `Automatic Speed Adjustment` enabled through reboot, or have a command line option available to start the Power Gadget on Login with it enabled.

[2020-03-25 13:09] nvollmar commented on #30
I'd be nice to have the option to keep Automatic Speed Adjustment enabled through reboot, or have a command line option available to start the Power Gadget on Login with it enabled.

[2020-03-25 13:11] trulyspinach commented on #30
@nvollmar thanks for the suggestion!
It will be enabled by default when it become more stable as I am currently working on a better version.

[2020-03-25 13:53] mathisschmieder commented on #29
Unfortunately, the issue seems to be only sporadic and (so far) I haven't found a pattern. After a reboot, it worked, but it definitely wasn't a one time only occurrence. I'll keep an eye on it and try to figure out when and how it happens. I know that these problems are the worst to debug.. If I find something out, I'll report back, obviously!

Btw, bug #23 is also affecting me, so it's probably

[2020-03-27 21:58] robpneu commented on #23
I don’t think the issues with XHC0 controllers are limited to X570; my X470 Crosshair VII has a similar issues. I can have the ports controlled by the XHC0 controller mapped but I can’t have anything plugged into any of those ports when the computer goes to sleep. My PTXH and AS43 controllers do not have that issue

[2020-03-28 16:11] Murmur2k commented on #30
@trulyspinach that's great, an enable on boot would be welcomed, sometimes I forget to run at boot and wonder why fans are kicking in.

I've mentioned in passing previously but just to add to this thread:
- Exposing fan sensor for other apps to access/control (my personal favourite is TGPro) - or even integrate fan control within your application
- Expose other X570 temperature sensors that may be

[2020-03-29 05:29] trulyspinach commented on #30
Hi @Murmur2k, thanks for your time putting these words :).
In fact, I recently have successfully wrote some kernel extension that can read other motherboard temperature sensors and issue fan control commands from macOS. However I haven't had time to make them into an useable application yet.

Regarding to GPU sensor I currently have no interests for that. Mostly because iStat works for my RX 580 w

[2020-04-01 05:37] kode54 commented on #10
Minor issue, since you say this is entirely dependent on SMBIOS as well. I had working CPU sensor in the current release when I had an iMacPro1,1 SMBIOS, but now I'm on MacPro7,1, and it no longer has a working CPU sensor.

[2020-04-01 19:33] appy79 commented on #30
![Screenshot 2020-04-02 at 12 58 42 AM](https://user-images.githubusercontent.com/40042482/78178573-7d4aa780-747d-11ea-9c99-3ab3b60d0711.png)
![Screenshot 2020-04-02 at 12 58 42 AM](https://user-images.githubusercontent.com/40042482/78178582-80459800-747d-11ea-8278-fc3d9722b165.png)
So as can be seen in pictures I have ryzen 3600. The passive power management seems to affect the single core perfor

[2020-04-01 23:05] scottdrmyers opened #31 "AMD Ryzen 3600 (non X)"
Not an issue, just confirming it works correctly! :dagger:

This is awesome, thanks!

https://imgur.com/a/bnFjkEI

[2020-04-01 23:05] #31 closed

[2020-04-02 05:15] trulyspinach commented on #31
Thanks for your feedback. I am glad that you think this is awesome :)

[2020-04-02 05:16] trulyspinach commented on #30
Hi @appy79, yes I am aware of this issue. And that is also part of why I didn't make this option as default yet. The coming new release would definitely fix that!.

[2020-04-02 14:23] trulyspinach commented on #23
Though I still can't let my Hackintosh to sleep, please give the new release a try and see if this problem is fixed. Most functions related to frequency reading have been re-written so hopefully it don't have this issue anymore.

[2020-04-02 20:11] tikizondo94 commented on #30
Awesome work! Just a heads up, For some reason i cannot boot with the latest AMDRyzenCPUPowerManagement.kext. Disable the kext and the system boots normal.
1st Gen Ryzen 1700. Running Catalina 10.15.4.

[2020-04-02 22:02] tikizondo94 commented on #30
That did it. My bad.. I should have paid more attention. Once again, Awesome Work! Thank you :)

[2020-04-03 07:41] trulyspinach commented on #29
Hi @mathisschmieder, this should be fixed in the latest release :)

[2020-04-03 07:41] #29 closed

[2020-04-03 20:35] staking4ada commented on #23
I tried the new release and indeed wake from sleep does not work correctly. 1 stuck core at 4.1GHz, all other cores reduce their speed. Average frequency reflects this (5 at min. speed, 1 at max). Switching off/on auto speed adjustment, or any other functions, including changing the values, does not solve it.

My system: Ryzen 5 3600, MSI B450M Mortar Max, High Sierra, Open Core, VirtualSMC, iStat

[2020-04-04 19:07] aluveitie commented on #23
Latest version behaves better, but still looks like a glitch in the read out:

![Screenshot 2020-04-04 at 21 04 49](https://user-images.githubusercontent.com/61966108/78459271-21b82e00-76b8-11ea-98bb-11725f038018.png)

[2020-04-05 15:46] aluveitie commented on #30
I noticed the latest version seems more performance oriented, it takes now quite some time for the automatic speed adjustment to go to the lowest frequency when there is no load. But it does not seem to have that large of an impact to temperature/power consumption anyway.

[2020-04-06 18:01] SCUTJcfeng opened #32 "3800x default frequency is pretty low"
My 3800x seens to run in a pretty low ferquency at about 3.0, which should be 3.9 instead.

I can't figure it out, so here I'm, hope somebody give a hint, thx.

![WechatIMG36](https://user-images.githubusercontent.com/14869384/78589936-e28ff700-77f5-11ea-977b-46af31b8b677.jpeg)

[2020-04-07 01:15] trulyspinach commented on #32
What do you mean?
If you want your processor to be fixed at highest frequency you don’t need power management then.

[2020-04-07 01:24] trulyspinach commented on #30
I think all the matters is sensitivity. I believe the current version is more like macOS’s original PM, excepts take longer to reduce the speed. The biggest problem with previous passives method is it doesn’t response well to single threaded processes.

Plus with a better idle thread the power consumption won’t have too much difference when processor is mostly idling.

I believe the current implem

[2020-04-07 02:10] SCUTJcfeng commented on #32
I want my 3800x run in a speed of 3.9GHz normally and up to 4.2~4.4GHz when needed fully automatically, like windows does.

[2020-04-07 02:22] trulyspinach commented on #32
Windows will reduce processor frequency to 2.2Ghz during idle unless you set minimum processor state to 100%.
<img width="287" alt="1586225932(1)" src="https://user-images.githubusercontent.com/8978490/78623014-3b749380-78b9-11ea-890f-8965ecdeb226.png">

If you want to have your processor speed fixed at 3.9Ghz why not just turn off power management feature?

[2020-04-07 02:23] #32 closed

[2020-04-07 05:45] aluveitie commented on #30
Thanks for the hint, I might try that. Anyway thanks for the great work!

[2020-04-07 14:25] aluveitie opened #33 "Building the project"
I wanted to play around with the speed adjustment algorithm.
It's been 12 years since I've last programmed in C++ and I've never used Xcode outside of some small iOS apps. Maybe you can give me a hint how to add the Lilu dependency to get the project to build?

[2020-04-07 16:31] trulyspinach commented on #33
You can achieve it by dragging Lilu.kext into project’s root folder as those headers are contained inside Lilu’s bundle.

[2020-04-08 18:38] #33 closed

[2020-04-09 13:12] profwyattb opened #35 "Crash on Menu and other errors"
I have loaded:
- VirtualSMC.kext
- AMDRyzenCPUPowerManagement.kext
- SMCAMDProcessor.kext
in that order and in OpenCore logs it gives this error:
"00:000 00:000 OC: Prelink injection SMCAMDProcessor.kext () - Invalid Parameter"

The AMD Power Gadget seems to show correct frequency, temp. and power graphs however when clicking on the menu icon, the whole system freezes and has to be unplugged.

I a

[2020-04-09 15:02] trulyspinach commented on #35
Hi @profwyattb, for your first question, this is not an error related to this software. Just double check your config is correct.

For your second problem, what menu icon are you referring? I don’t think the app have an menu icon.

[2020-04-09 15:28] profwyattb commented on #35
![image](https://user-images.githubusercontent.com/40368472/78911949-eedab500-7a7e-11ea-9b27-3be18d86c513.png)

On clicking the three black bars, the computer freezes

[2020-04-09 18:44] aluveitie commented on #23
It must be a glitch reading out the frequency, waking up after 8 hours of sleep it has 21GHz on the first core :D

![Screenshot 2020-04-09 at 20 42 59](https://user-images.githubusercontent.com/61966108/78929548-e1cfbd00-7aa2-11ea-8776-7b0783350527.png)

[2020-04-10 07:00] ProfDrLuigi opened #36 "Again Version Number Mismatch"
SMCAMDProcessor.kext: Version 0.6 claims to be 1.0. Please fix. ;-)

[2020-04-10 09:51] profwyattb commented on #35
`*** Panic Report ***
panic(cpu 2 caller 0xffffff801738882f): Kernel trap at 0xffffff7f9a11ccc1, type 14=page fault, registers:
CR0: 0x0000000080010033, CR2: 0x0000000000000020, CR3: 0x00000000adb74000, CR4: 0x00000000003406e0
RAX: 0x0000000000000000, RBX: 0x0000000000000002, RCX: 0xffffff7f9a1242d0, RDX: 0x00000000015bbac9
RSP: 0xffffff9144613aa0, RBP: 0xffffff9144613aa0, RSI: 0x0000000052627698,

[2020-04-10 10:06] trulyspinach commented on #36
Hi, this is not a mismatch as this kext is actually 1.0 version since most function have moved to AMDRyzenCPUPowerManagement.kext.

Please feel safe to use this version as the latest version of it. All future updates to SMCAMDProcessor.kext will be increased from 1.0

[2020-04-10 10:08] trulyspinach commented on #35
Thanks for the information :).
Does it happens after you wake up your system from sleep?

[2020-04-10 10:39] profwyattb commented on #35
It happens no matter what. Even when my computer hasn't "slept" it still crashes

[2020-04-10 20:55] Moozukirider commented on #30
For some odd reason with the latest release I lose my CPU Proximity temperature readout in both Hardware monitor and istat. If I replaced the SMCAMDProcessor.kext with the previous released version I get the reading back. BTW, the power management is awesome!

[2020-04-12 10:00] a17uk opened #37 "Cannot save PState settings"
0.6 version is awesome, it finally can work with my build. But I found that the customised PState settings cannot be saved. After rebooting, it always go back to the original setting and I have to manually set it again. Is that because the original setting is fixed and I cannot save it?

[2020-04-12 10:31] trulyspinach commented on #37
Yes, there is currently no way to change the default of PState and it will be reset after reboot. The best you can do is to export PState settings into a file and import it back after.

[2020-04-12 10:34] a17uk commented on #37
Thank you. How about letting the power tool start at launch and automatically apply the PState settings?

[2020-04-12 10:43] trulyspinach commented on #37
This is definitely an option :)
Some people suggested to make the application into a menubar app and launch at startup. I will make that an option when the menu bar app have finished its development.

[2020-04-12 21:06] suntrix opened #38 "Kernel panic on Threadripper 1950X"
I'm using OpenCore 0.5.7 / MacPro7,1 & I got this kernel panic during boot:

[code]

----

My kext order (if it helps):
* Lilu.kext
* VirtualSMC.kext
* WhateverGreen.kext
* AppleALC.kext
* NVMeFix.kext
* AirportBrcmFixup.kext
* BrcmBluetoothInjector.kext
* BrcmFirmwareData.kext
* BrcmPatchRAM3.kext
* AGPMInjector.kext
* AMDRyzenCPUPowerManagement.kext
* SMCAMDProcessor.kext
* DisableMCEReporter.ke

[2020-04-13 01:28] trulyspinach commented on #38
Hi, this problem was caused by AICPM, not this kext, you should either disable it with NullCPUPM or the kernel patch.

[2020-04-13 11:39] Murmur2k opened #39 "Update Link"
Minor issue - the "Any Updates?" link under Speed is pointing to https://github.com/trulyspinach/AMDRyzenCPUPowerManagement which is no longer valid.

Would like to take the opportunity to say I really appreciate everything you are doing with this app.

[2020-04-13 11:41] trulyspinach commented on #39
Hi @Murmur2k thanks so much for the feedback and your appreciation.
I guess I have accidentally replaced that when I find n replace :)

[2020-04-13 20:30] suntrix commented on #38
I already use _DummyPowerManagement_

I got it to boot by shuffling kexts around & switching to iMac1,1.

Now my kext order is:
* Lilu.kext
* VirtualSMC.kext
* AMDRyzenCPUPowerManagement.kext
* SMCAMDProcessor.kext
* WhateverGreen.kext
...

[2020-04-13 20:30] #38 closed

[2020-04-13 20:34] suntrix opened #40 "Kernel panic on Threadripper 1950X"
Got a panic during boot.

OC 0.5.7
iMacPro1,1

Threadripper 1950X
Gigabyte X399 AORUS XTREME (using latest BIOS - F5)

[code]

On another boot everything booted fine.

[2020-04-14 10:03] irii commented on #30
Hi, would it be possible to activate CPPC2 for Speed adjustment?

Br
Ivan

[2020-04-14 12:03] trulyspinach commented on #30
Hi @irii I would like to implement that feature too. But it is impossible since AMD don't want to open their document :(

[2020-04-15 07:47] automata-killa opened #41 "Automatic low power state keeps disabling itself"
Having a weird issue where at times the Low Power State function turns off

HW: 2700X/ MSI B450i running 10.15.4

[2020-04-15 08:49] #36 closed

[2020-04-15 09:54] trulyspinach commented on #40
Thanks for the feedback. So this only happened once ?

[2020-04-15 13:54] irii commented on #30
@trulyspinach As far as i know, thats an open standard (ACPI 6.2). Linux should have this Feature already.

BR
irii

[2020-04-15 13:55] trulyspinach commented on #41
Hi @automata-killa, The settings will be reset after reboot. It was mentioned in the previous version but I forgot to add it in this release :(

[2020-04-15 14:00] trulyspinach commented on #30
Hi @irii, I can't seems to find any related information.
It would be nice if you can point me to some part of Linux source code :)

[2020-04-15 14:25] irii commented on #30
Aight!
Here is the CPPC Cpu Freq Driver

[https://github.com/torvalds/linux/blob/master/drivers/cpufreq/cppc_cpufreq.c](url)

Br
irii

[2020-04-15 14:26] trulyspinach commented on #30
@irii thanks a lot! Honestly I don't have any experience with ACPI :).
I will take a look soon.

[2020-04-15 14:28] irii commented on #30
@trulyspinach Np :)

Thats my problem too... I have no experience!

[2020-04-15 18:25] svansolo commented on #30
Hopefully, I'm in the right thread for that.. Tried to install your program and got this after rebooting my Ryzentosh->
![IMG_20200415_195624](https://user-images.githubusercontent.com/27730676/79373774-3e295580-7f57-11ea-9f3c-405e4345d011.jpg)

[2020-04-15 18:44] aluveitie commented on #30
@svansolo Nothing to do with this kext, the issue is with your config.plist

[2020-04-15 18:52] suntrix commented on #40
For now yes. I'll report if this happens again.

[2020-04-15 19:00] svansolo commented on #30
I think my config.plist is correct but it's my first hackintosh so I don't know :D can you help me please?

[2020-04-15 19:05] aluveitie commented on #30
Try this validator: https://opencore.slowgeek.com/

[2020-04-16 05:16] trulyspinach commented on #30
@svansolo indeed this have nothing to do with this kext.

[2020-04-16 16:59] jhirn commented on #30
Hi, I'm not sure if this is known or I'm doing it wrong but I'm not getting any speed step. Seems like there are some known issues with Mac 7,1 around the sensor too but wanted to ask here before opening an issue.

Using Opencore 0.5.7 and the latest version of the kexts here. Happy to share my config.plist if it helps.

<img width="631" alt="Screen Shot 2020-04-16 at 11 57 21 AM" src="https://use

[2020-04-16 17:47] Murmur2k commented on #30
@jhirn what is your sensor issue? I'm using Mac Pro 7,1 and hadn't had any issues

[2020-04-16 18:22] jhirn commented on #30
Hi @Murmur2k. The sensor issue was with iStat which seems knows as of this thread: https://github.com/trulyspinach/SMCAMDProcessor/issues/10#issuecomment-607043862

[2020-04-17 02:39] itsbartsimpson commented on #14
@trulyspinach

The logo by Shaneee reflects branding and usage, and looks fairly decent in Light Mode

![Current Logo in Light Mode](https://user-images.githubusercontent.com/63189531/79526010-e50a1080-8081-11ea-8849-74df913d0c80.png)

Not so much in dark mode (and the transparency doesn't really help either)

![Current Logo in Dark Mode](https://user-images.githubusercontent.com/63189531/79525972

[2020-04-17 03:10] trulyspinach commented on #30
@jhirn this is likely related to your BIOS power setting.

[2020-04-17 03:12] trulyspinach commented on #14
Hi @itsbartsimpson this sure looks nice. However it would be more like macOS without the round rect background. A common way for macOS icon to stand up in dark mode is to have 3D looking and shadow. It would be even nicer if you can make it follows these rules :)

[2020-04-17 03:54] itsbartsimpson commented on #14
@trulyspinach, changes made in original comment

[2020-04-17 18:30] jhirn commented on #30
Well shucks. I've tried PBO (Precision boost overdrive), D.O.C.P vs auto, etc.. in the CPU settings and all the other recommended BIOS settings. Not sure which but I'll keep trying.

Mobo is Asus Tuf Gaming x570 in case anyone's familiar.

BTW, this is a great idea to have a catch all discussion issue open between releases. I wouldn't have wanted to open an issue for an issue specific to my bios s

[2020-04-18 05:59] mycorunner opened #43 "“AMD Power Gadget” is damaged and can’t be opened. You should move it to the Trash."
Hello! First thanks for all the help and setting up this great app.
I am having trouble opening the app. I keep getting this error:
<img width="435" alt="Screen Shot 2020-04-18 at 8 57 43" src="https://user-images.githubusercontent.com/62800373/79629482-e0615d00-8152-11ea-82af-821b523295b8.png">

[2020-04-18 08:11] sartbimpson commented on #14
Pinging @trulyspinach

[2020-04-18 10:04] trulyspinach commented on #43
Hi @mycorunner,
This is not an issue with this software. Please refer to more general solutions with Gate Keeper config.

[2020-04-18 10:04] #43 closed

[2020-04-18 10:06] trulyspinach commented on #30
@jhirn I have most of my BIOS settings turned to Auto, or disabled. Maybe try to disable some power management features in BIOS to allow OS to do it?

[2020-04-18 10:27] mycorunner commented on #43
Oh oka, could you point me in the right direction with this gate keeper config please?

[2020-04-18 18:11] JacobSyndeo commented on #40
I'm on the same CPU, no panics yet… *knock on wood*
I'll comment again if that changes!

[2020-04-19 07:39] jhirn commented on #30
Hmm. I'd believe it to be the case if it weren't working in Windows, but it is with the same bios settings.  Maybe my expectations of the AMD Power Tool are wrong, but AI assumed clicking on 2200Mhz would limit it to 2200mhz and/or I'd se some scaling of the frequency in Power Gadget. When I use AMD Ryzen master I usually idle at 900Mhz in Windows until I kick off a benchmark or something which wi

[2020-04-19 08:47] aluveitie commented on #30
The power management was not working when I had limited Vcore, but that's probably to be expected. I just had to set it back to auto.

[2020-04-21 09:07] InsanelyHack commented on #14
Or you could do this with the icon
<img width="428" alt="Screenshot 2020-04-21 at 10 05 49" src="https://user-images.githubusercontent.com/52838566/79847568-d2604600-83b7-11ea-943e-2a8aadd1adac.png">
<img width="327" alt="Screenshot 2020-04-21 at 10 05 34" src="https://user-images.githubusercontent.com/52838566/79847575-d42a0980-83b7-11ea-978f-f64b153ddd1b.png">

[2020-04-21 09:10] aluveitie commented on #14
@InsanelyHack nice, that looks a lot better in dark mode 👍

[2020-04-21 09:40] InsanelyHack commented on #14
[AppIcon.icns.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/4509065/AppIcon.icns.zip)
Feel Free to use!

[2020-04-21 13:51] sartbimpson commented on #14
@InsanelyHack it's simple, it works, i don't see why not!

[2020-04-21 17:57] #39 closed

[2020-04-22 22:26] jhirn commented on #30
I've set everything to auto but this feels like a me problem and it's also not much of a problem so I won't worry about it too much. If I manage to figure it out I will report back for posterity.

Attaching my config.plist just in case, SMbios redacted

[config.plist.txt](https://github.com/trulyspinach/SMCAMDProcessor/files/4519278/config.plist.txt)

Thanks y'all

[2020-04-23 07:18] kokowski commented on #35
I've got the same problem in Catalina 10.15.4. The system freezes by clicking on the menu-button oft Poer Gadget.

[2020-04-25 01:52] Albahrani1995 opened #47 "AMD Power Gadget"
Hello,
I can not open the AMD Power Gadget, and I keep getting "No SMCAMDProcessor Found!"
I don't know what is wrong.
my kext(as order in congfig.plist):
0-Lilu.kext
1-VirtualSMC.kext
2-AMDRyzenCPUPowerManagement.kext
3-SMCAMDProcessor.kext
4-Contents/MacOS/ITEIT87x
5-MacProMemoryNotificationDisabler.kext
6-RealtekRTL8111.kext
7-VoodooHDA.kext
8-WhateverGreen.kext

CPU: 3600X
If it is a problem o

[2020-04-25 10:49] Murmur2k commented on #47
It may be in the right order but are both kext enabled in the config?

[2020-04-25 12:21] aluveitie commented on #47
`ITEIT87x` kext is part of the FakeSMC sensors and should probably be removed when using VirtualSMC

[2020-04-26 03:35] trulyspinach commented on #47
Solutions from @Murmur2k and @aluveitie is correct :)
Please read the installation guide carefully before you open up an issue.

[2020-04-26 03:35] #47 closed

[2020-04-26 03:38] trulyspinach commented on #35
This problem is already fixed in the latest commit. But I haven't publish a release yet. In the mean time you can try to compile from the latest source code :)

A new release will be coming soon.

[2020-04-26 04:49] mnhattt commented on #30
I add  AMDRyzenCPUPowerManagement.kext and SMCAMDProcessor.kext(in the right order), but when I install amd gadget it not work and don't seen any errors.

This is my plist(I try to add and remove SMCProcessor.kext, SMCSuperIO.kext)
https://opencore.slowgeek.com/?file=amd057sJnSVq&rs=amd057

[2020-04-26 08:59] kokowski commented on #35
Would you please give me the instructions how to compile your project?

[2020-04-26 18:46] bigmillz commented on #30
Hey everyone, I'm having issues with it reporting (presumably) north bridge temp instead of CPU die. It's saying CPU proximity, but when I flip to the BIOS, the temp seems to be a perfect match to the chipset temp.

Board is an MSI X570 MEG ACE, and using VirtualSMC. Thoughts?

[2020-04-26 20:04] ralf-ms opened #48 "Kext not loaded"
Hi, I get the following error in OC when it is trying to load SMCAMDProcessor.kext (right after the AMDRyzenCPUPowerManagement.kext):
06:597 00:356 OC: Prelink injection SMCAMDProcessor.kext () - Invalid Parameter
AMD Power Gadget is working fine  btw(Thanks a lot for your great work!!), but what have I to do to solve the prelink injection problem?
Sequence of the (relevant) kexts is the following

[2020-04-27 06:52] nguyennghia9222 opened #49 "Watching video on chrome lagging"
Hi, I loaded those kexts and faced problems. Before I used those kexts, performance really good. But after I loaded kexts, lagging occurred when I watched video on youtube. Hopefully, you can have a check. Thanks

[2020-04-27 08:50] trulyspinach commented on #49
What processor do you have?

[2020-04-27 08:51] trulyspinach commented on #48
Hi, this issue is not related to this software. Please check OC’s documentation and make sure your config file is correct.

[2020-04-27 08:51] #48 closed

[2020-04-27 09:07] prawler74 commented on #10
Hi

Thanx for tall the work you put into this. I would really like to have fan control integrated. Is it possible?

Keep up the good work

Best regards
Bjørn

[2020-04-27 09:12] trulyspinach commented on #10
@prawler74 definitely possible.

[2020-04-27 09:15] prawler74 commented on #10
That would be awesome. Have you been looking into it?

Is there a way for a noob like me to do this?  Though i would rather have you implent it on the gadget.

Bjørn

[2020-04-27 09:21] trulyspinach commented on #10
@prawler74 I believe I have mentioned somewhere previously that I got the code working on my motherboard. However it is just some experiment. It will take more time to make a working application. I do still interested in making one but currently not have much time on it.

It wasn't hard at all, there're a lot of open source implementation out the that you can look for reference.

[2020-04-27 09:25] prawler74 commented on #10
Hi

Yes. You have mentioned it. I will give it a go. Cant wait for you’re comning updates.

Best regards
Bjørn

[2020-04-27 09:26] aluveitie commented on #10
@trulyspinach Could you push your experiment on a branch? Might be a good starting point for people wanting to get into it.

[2020-04-27 09:27] Murmur2k commented on #10
That would be awesome and may even work for some with the same controller.

[2020-04-27 09:30] trulyspinach commented on #10
Unfortunately they're gone. It was just a couple lines of code added to some random function.

But if you want some starting point I am sure [this](https://github.com/LibreHardwareMonitor/LibreHardwareMonitor/blob/master/LibreHardwareMonitorLib/Hardware/Motherboard/Lpc/Nct677X.cs) will be inspiring :)

[2020-04-28 00:14] nguyennghia9222 commented on #49
My cpu processor is ryzen-5 3600

[2020-04-30 16:10] JayceCao opened #50 "AMD Power Gadget works but no sensors data in istat"
The two kernel extesions used are the latest. The version of istat is `6.40(1116)`.
Both the two kernel extensions are loaded.
Did I do something wrong?

[2020-04-30 21:22] Xardas220 commented on #50
Hi,
same probleme here. .kexts all loaded in the right order. I am using Opencore and have no problems with my system. Only the sensor data with iStat doesn't showing up. My system:

MacOS 10.15.4
Opencore v.0.5.7
Gigabyte Aorus Pro x570
AMD Ryzen 3700X
AMD Radeon 5700 XT

Any suggestions for the problem?

[2020-05-01 04:25] nguyennghia9222 commented on #49
It was fixed by updating opencore 0.5.7 and loading AMDRyzenCPUPowerManagement, SMCAMDProcessor after VirtualSMC. It's so weird!

[2020-05-01 04:25] #49 closed

[2020-05-01 14:32] ralf-ms commented on #50
I've nearly the same SW, HW, only difference is the aorus x570i mb and graficscard rx580.
At least I get iStat's "CPU Proximity" temperature reading:
![Screenshot 2020-05-01 at 16 30 59](https://user-images.githubusercontent.com/35162235/80812933-45906600-8bc9-11ea-8ba0-35cf40d166d5.png)

[2020-05-01 14:35] ralf-ms commented on #37
i'd also would love to see the AMD Power Tool settings for "Speed" and "Core Performance Boost" saved and loaded whenever the application starts...

[2020-05-01 15:42] JayceCao commented on #50
My system is similart to you:
* macOS 10.15.4
* Opencore 0.5.7
* MSI B450M Mortar Max
* AMD Ryzen 3700X
* Sapphire 5700XT OC

Maybe I found the problem.  My model identifier is `Mac Pro 7, 1`.  From Opencore desktop guide (https://dortania.github.io/OpenCore-Desktop-Guide/troubleshooting/troubleshooting.html#other-issues), it says `iStat Menus doesn't yet support MacPro7,1 readouts`.

[2020-05-01 15:55] ralf-ms commented on #50
Yes, that could be the problem.
Try iMacPro1,1. That's what I'm using.

[2020-05-01 23:41] Xardas220 commented on #50
This was exactly the problem. Changed it in the config.plist and I am seeing the same as in your picture ralf-ms. Thanks!

A bit off topic, but is there a chance to see the GPU Die temps?

[2020-05-02 00:26] prawler74 commented on #50
Are you guys usin virtualsmc?  I habe toniae fakesmc. Then i see sensors and fans.

[2020-05-02 03:52] JayceCao commented on #50
Changed to `iMacPro1,1` and the output of iStat is the same to you. Thanks.
But don't know why GPU temperature and fan speed doesn't exist.

[2020-05-02 04:54] ralf-ms commented on #50
Look in the CPU tab of iStat.
I can find the main statistics for the rx580 grafics card there.

![Screenshot 2020-05-02 at 06 51 49](https://user-images.githubusercontent.com/35162235/80855472-b5dace00-8c41-11ea-9ac3-41cda65e95f4.png)

[2020-05-02 08:51] Gamedar opened #51 "Incorrect link addresses in the app"
Links in the app lead to https://github.com/trulyspinach/AMDRyzenCPUPowerManagement instead of this repository.

1. ![image](https://user-images.githubusercontent.com/5584672/80859661-22b68e00-8c6b-11ea-944f-fe2da6b72594.png)
2. ![image](https://user-images.githubusercontent.com/5584672/80859666-29450580-8c6b-11ea-9464-76edf4200994.png)

[2020-05-02 15:49] CristianF-com commented on #40
Hi, i'm start having panic in Ryzen 7 3700x after BIOS update in MSI A-PRO570x, every start I have one panic and then start ok

[code]

[2020-05-04 09:43] Xardas220 commented on #50
Mhh.. This is a pity. On my machine it looks like this:

![iStat Screenshot](https://user-images.githubusercontent.com/28394829/80953496-f1b99300-8dfb-11ea-8222-199fb8bf64fa.png)

It seems like that iStat has problems with my card. Processor and Memory is supported but Temps, Clocks and Power isn't there. :/ Maybe with the next update of iStat. BUT CPU is there now. Thats good!
Thanks for the help

[2020-05-05 07:53] kokowski commented on #35
Hello @trulyspinach
i've tried to compile from the latest source code, but without success. :( Would you please help me?

[2020-05-05 10:32] trulyspinach commented on #50
The ultimate answer to all of these can be refered to #10
Softwares like iStat just hardcode all keys for different Mac model. I guess an ultimate solution would be to switch to a more robust system monitoring software but these doesn't really existing yet on macOS.

[2020-05-05 10:34] trulyspinach commented on #35
@kokowski Did you just compiled the application itself?
You need to recompile the kext and load the new kext :) But anyway I will publish a new release tonight with this fix.

[2020-05-05 10:35] aluveitie commented on #50
iStatistica I heard working better in that regard

[2020-05-05 10:35] trulyspinach commented on #51
Hi, thanks for the feedback.
This is a duplicate of #39 and was fixed by #44

[2020-05-05 10:35] #51 closed

[2020-05-05 10:54] kokowski commented on #35
@trulyspinach Yes, ive tried it, but my result always was, that only the Power Gadget had been compiled. I've posted my problem in this thread: https://forum.amd-osx.com/index.php?threads/smcamdprocessor-kext.7/

[2020-05-05 11:00] trulyspinach commented on #35
To compile the kext you need to have Lilu.kext present at the root folder of Xcode project(same where that project bundle).

[2020-05-05 11:03] kokowski commented on #35
@trulyspinach Would you please post a screenshot? I've tried this, too, but without success.

[2020-05-05 12:19] Murmur2k commented on #50
Also TG Pro has a hackintosh mode that opens up everything outside of
SMBIOS constraints

On Tue, 5 May 2020 at 11:35, Aluveitie <notifications@github.com> wrote:

--
William Bradley
t. +44 (07595) 052 589

[2020-05-06 10:04] trulyspinach commented on #35
@kokowski can you try the latest release and see if it fixes the problem? Thanks

[2020-05-06 10:20] kokowski commented on #35
@trulyspinach Thanky you very much! It's working fine now - no freezes anymore.

[2020-05-06 10:24] #35 closed

[2020-05-06 10:25] kokowski commented on #35
look at my edit, please @trulyspinach

[2020-05-06 11:25] aluveitie opened #52 "Additional Pstates are not usable"
Adding a new Pstates shows up in speed steps but cannot be used manually nor by the auto speed adjustment.

[2020-05-06 11:28] trulyspinach commented on #52
Yes, there's a PStateLimit value set in the processor(usually 3) that defines how many PState can be used even when there are totally 8 spaces available from storing them. AMD's document states that this limit value is read only so I suspect it was set by BIOS with undocumented interface.

[2020-05-06 11:30] prawler74 commented on #50
TG Pro does show fanspeeds if you use fakesmc. But you can’t control them.....

[2020-05-06 11:31] aluveitie commented on #52
Thanks for the info. As my BIOS allows me only to modify P0 I can't test if adding one there would change that.

[2020-05-06 11:31] #52 closed

[2020-05-06 11:32] Murmur2k commented on #50
I used to be able to view/control them with my Intel hack and fakesmc. Waiting for the day I can do the same with VSMC and my Ryzentosh.

[2020-05-06 14:24] CMMChris commented on #50
Regarding missing fan speed / clocks / temps for some GPUs: This has nothing to do with iStat. iStat simply reads this information from the IORegistry. Starting with Vega20 and continuing with Navi10/14, Apple have decided to not deliver this information anymore. That's why you won't see any readout with those GPUs other than GPU and memory load. All you can do is to put pressure on Apple by openi

[2020-05-06 14:37] prawler74 commented on #50
Thanx for sharing that information. Regarding the fan and fan speed control, its a swedish developer/app called Sensei. He claims that fan/fan speed is coming soon. Check out his app. Best regards Bjørn

[2020-05-07 02:12] trulyspinach commented on #50
@CMMChris Apple will never response no matter how much pressure they have. Best hope is someone would develop some other solutions.

[2020-05-07 21:31] aluveitie opened #54 "Pstate editor crashes"
How to reproduce:
"Advanced Options" -> "Import" -> "Cancel" -> Boom ;)

[2020-05-08 04:46] Arabaku opened #56 "Kernel panic during boot"
I have got panic in Ryzen 7 3700x during boot. Almost every start I have the panic and have to restart many times until boot successfully.
OpenCore 0.5.8 (using DummyPowerManagement)
MSI B450M MORTAT MAX (latest BIOS - 7B89v27)
[code]

[2020-05-09 01:48] DariusAlexander commented on #30
Loving the tool - just a few quick GUI fixes, nothing purely functional;
1. The link to trulyspinach forwards to a 404.
2. The interpolation method looks like cosine or similar? - this makes the gradient of the curve resolve to 0 at each point, rather than smoothly passing through it. Something better would be Catmull-Rom spline with neutral tension. (The interpolation can also be simplified, cutt

[2020-05-10 02:33] trulyspinach commented on #30
@DariusAlexander the link should be fixed now :)
Are you referring to the curve in those graphs?

[2020-05-10 09:34] DariusAlexander commented on #30
@trulyspinach That's right - example images of behaviour attached below!

![Screenshot 2020-05-10 at 10 32 46](https://user-images.githubusercontent.com/21104672/81495638-a72b9100-92a9-11ea-89c8-7b1bcee75353.png)
![Screenshot 2020-05-10 at 10 33 58](https://user-images.githubusercontent.com/21104672/81495651-c62a2300-92a9-11ea-951a-9ad8e13b399e.png)

[2020-05-10 10:30] DariusAlexander commented on #30
@trulyspinach Also just noticed that the start and end of the curves look like they're assumed to be a default value of 0. You can see the cure aggressively ramp up and down at the start and end. You should either skip rendering this part of the curve (preferably), or extrapolate (binary or linearly) using the closest point.

![Screenshot 2020-05-10 at 11 26 14](https://user-images.githubuserconte

[2020-05-10 16:07] Alex-za12 opened #57 "AMD Ryzen 5 2600 audio or video delay on Youtube"
Hi.
When watching a video on YouTube on Google Chrome, there are constant delay with the video, namely, I have unpleasant sound skips in the video, if you turn off your plugins, the video will play normally.
When watching ordinary videos not through YouTube, there are no problems with the video.
If you need some statistics, I’m ready to provide it.

cpu: Ryzen 5 2600
gpu: Radeon RX 580
boot: openc

[2020-05-11 08:39] aluveitie commented on #23
@trulyspinach Do you have any hint where best to start looking into this?

[2020-05-11 08:45] trulyspinach commented on #23
@aluveitie I cant get my Hackintosh to sleep so can not test any fixes.
Some random guess for a potential fix: register to IOKit's power management event to get notified from sleeping and waking up. And re-init the some pm structures soon after wake up.

[2020-05-11 08:49] aluveitie commented on #23
@trulyspinach Thanks, that sounds like a good idea. I'll try to look into it.

[2020-05-11 12:04] aluveitie commented on #23
I have trouble including certain IOKit headers (file not found) even though they auto-complete and IOKit is added as required framework to the project.

Maybe you could have a quick look if you can spot the problem? https://github.com/aluveitie/SMCAMDProcessor/tree/wakeup-handling

[2020-05-11 17:31] trulyspinach commented on #57
Hi @Alex-za12 In this case I suggest you turn off automatic speed adjustment. There could be various reasons that causes the video lag such as missing hardware decode acceleration libraries and is totally out of scope of this software here.

[2020-05-11 17:54] Alex-za12 commented on #57
HI. All settings of your plugin are disabled. Google Chrome will count this error.

[2020-05-11 19:01] aluveitie commented on #23
I was on the wrong path, that API is not available within the kernel.
I've now the hook for entering/leaving sleep in place, but calling either `pmRyzen_init` or `pmRyzen_PState_reset` seems to actually make it worse. Then all cores are shown in a weird state... I guess I've to dive deeper into it.

[2020-05-12 04:52] prawler74 commented on #50
Hi.
Finally made fans show up in tg pro.
Added smcprossesor.kext and smcsuperio.kext.
![861DE401-EAF8-40DA-963C-63F1BC06A619](https://user-images.githubusercontent.com/64365977/81639748-21305700-941d-11ea-8d49-fed6b060769f.png)

[2020-05-12 04:56] aluveitie commented on #50
@prawler74 Do you also have fan control with tg pro?

[2020-05-12 05:14] prawler74 commented on #50
No....i do not. I am sending the guys at tunabelly a support package. They are gping to look into it. Will post when i get an answer.

Bjørn

[2020-05-12 05:29] Murmur2k commented on #50
They are pretty awesome.. once released a version that accidentally broke Temps/speeds on fakesmc. When I raised the issue they developed a Generic sensor mode for Hackintosh!

[2020-05-12 05:32] prawler74 commented on #50
That is really awesome. He said he had an idea why its showing -1 but he needs to see smc dump.

Bjørn

[2020-05-13 10:52] jogerj opened #58 "“AMD Power Gadget.app” is damaged and can’t be opened"
0.6.1 version of the app won't open. Would post log but idk where it would've been stored.

[2020-05-13 11:15] aluveitie commented on #58
Using the command line to start it might show you the reason

[2020-05-13 11:40] aluveitie commented on #54
I've implemented a fix in #59

[2020-05-13 14:22] jogerj commented on #58
![image](https://user-images.githubusercontent.com/30559735/81824517-d81ff600-9535-11ea-996f-f8cf18732f28.png)
Unfortunately not

[2020-05-13 16:43] johannschwabe opened #61 "Ryzen 7 3800x"
Works great, Thank you!

[2020-05-14 01:28] #57 closed

[2020-05-14 01:28] trulyspinach commented on #61
Thanks :)

[2020-05-14 01:28] #61 closed

[2020-05-14 01:30] trulyspinach commented on #58
duplicate of #43

[2020-05-14 01:30] #58 closed

[2020-05-14 01:36] #41 closed

[2020-05-14 01:37] trulyspinach commented on #40
Closed due to lack of evidence.
Please report further random kernel panic at #56.

Thanks!

[2020-05-14 01:37] #40 closed

[2020-05-14 01:40] trulyspinach commented on #50
@prawler74 @Murmur2k  @aluveitie please keep off topic discussion in general discussion thread so people don't get spammed in their email. Thanks.

[2020-05-14 01:42] #54 closed

[2020-05-14 11:11] aluveitie opened #63 "Default window size too small"
As mentioned in #62 the power gadget window is scrollable in the default size and cuts either the title or the credits:

![Screenshot 2020-05-14 at 13 25 22](https://user-images.githubusercontent.com/61966108/81927682-56d36c80-95e4-11ea-8fbb-b6c1ccd6ef68.png)

I tried to fix it but could not figure it out...

[2020-05-15 09:49] nguyennghia9222 commented on #10
I have something new. I loaded SMCSuperIO after CPUPowerManagement and TG Pro shown my fans
<img width="1236" alt="Screen Shot 2020-05-15 at 16 46 41" src="https://user-images.githubusercontent.com/26781069/82037186-fddf0380-96cb-11ea-8dc7-859055279293.png">

[2020-05-15 09:52] Murmur2k commented on #10
Amazing - does it allow you to control the fans?

[2020-05-15 10:05] nguyennghia9222 commented on #10
I cannot control fan speed manually via TG Pro. I do same fan setup but nothing effected :)

[2020-05-15 15:36] bigmillz commented on #30
Still having issues - I'm 99% certain it's not reporting CPU temp. If I switch back and forth to the BIOS as quickly as I can, the reported temp most accurately represents "MOS temp"

![image](https://user-images.githubusercontent.com/4524072/82068649-44b70400-96a0-11ea-9eda-dae402a76b55.png)

There's just no way my CPU spiking to 70C from opening KextUpdater (or similar lightweight app). Right?

[2020-05-15 16:10] aluveitie commented on #30
@bigmillz do you have fans controlled by CPU temp? That would give you an audible feedback. On my system it matches the reported frequency perfectly.

[2020-05-15 16:14] bigmillz commented on #30
I do, but it is liquid cooled so it doesn't speed up immediately. If I run folding@home, it goes to about 70C and the fans crank.

[2020-05-17 08:57] trulyspinach opened #66 "SMC Fan Control"
List of supported chips:
- NCT6791D
- NCT6792D
- NCT6792DA
- NCT6793D
- NCT6795D
- NCT6796D
- NCT6796DR
- NCT6797D
- NCT6798D
- IT8688E
- IT8686E
- IT8665E

Working in progress:
- NCT6681 (Reading works, no fan control)
- NCT6683 (Reading works, no fan control)

Please email me if you need help developing additional chip support. (Please DO NOT email me and just ask for support on your motherboard

[2020-05-17 08:58] #14 closed

[2020-05-17 12:03] woutersamaey opened #67 "What to expect?"
This is a beginner question. I read through the README and other issues here, but I’m curious what to expect when I install this vs not installing at all.

- will this make my AMD faster/slower?
- more/less power hungry?
- more/less noisy?
- more/less power efficient?
- can the features be turned on/off for easy comparison?

Assuming I have a new Ryzen CPU and X570 or B450 motherboard that is usin

[2020-05-17 12:40] aluveitie commented on #67
In short: it gives you control over your CPU

So it’s yes to all your questions. You can use it to overclock, or enable the passive power management to downclock when there is little load. Disable precision boost when you don’t need the maximum performance but prefer less noise.

[2020-05-17 13:28] woutersamaey commented on #67
Okay, so the question then becomes how good is the standard power management. Is it horrible, making this software essential or is this more like a gimmick?

[2020-05-17 13:31] trulyspinach commented on #67
@woutersamaey if you did any research you will know that there isn't any power management in macOS for AMD.

[2020-05-17 13:41] woutersamaey commented on #67
Sorry, for annoying you. I am new to the concept of power management. I know CPUs have all kinds of power stepping, but failed to find any ryzentosh power usage stats, so I’m pas under the impression that the CPU would always be on 100% full blast and that I would “need” this tool as a fix?

[2020-05-17 13:50] trulyspinach commented on #67
Sorry if my reply reads like I am annoyed, I'm not :)
Without power management it will always run at 100% full speed when it runs. That saids, macOS will simply use the basic halt instruction when there is nothing to do and don't have any power management support loaded for the platform. Which is not so effective in many ways, but at least it won't let your CPU always run at TDP. But still, the en

[2020-05-17 14:03] #67 closed

[2020-05-17 17:06] yiohan45 commented on #66
![1](https://user-images.githubusercontent.com/42138873/82154920-cd3ccc80-9879-11ea-952a-c1b2cf1a8ff3.png)

[2020-05-17 19:18] prawler74 commented on #66
Hi. Just want to say thanx a billion for adding fancontrol. I updated to 0.62 hoping to be able to adjust my fans.
Checked with supported chips. I see that my chips is suported. But i still get an error message saying that it cant find a driver for my smc
What could be wrong?

Bjørn

[2020-05-18 01:05] trulyspinach commented on #66
@prawler74 Hi, can you screen shot the SMC Fan window? What does the chip ID and revisions says?

[2020-05-18 02:49] prawler74 commented on #66
![Skjermbilde 2020-05-18 kl  04 46 20](https://user-images.githubusercontent.com/64365977/82169692-93dc7f00-98c2-11ea-8e4b-d47c108f9cbc.png)

This is what i get in macOS.
As i said, i checked in ArgusMonitor on Win10.....and it says that i have the NCT6798D chip.
How do i check chip version i mac os?
Bjørn

[2020-05-18 03:27] trulyspinach commented on #66
Can you see if this one have any luck? @prawler74
[AMDRyzenCPUPowerManagement.kext.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/4641835/AMDRyzenCPUPowerManagement.kext.zip)

The previous version have a small bug for chip NCT6798D.

[2020-05-18 03:51] prawler74 commented on #66
Hi.

Will try when i get home from work. Keep you updated.

Thanx
Bjørn

[2020-05-18 12:29] prawler74 commented on #66
Hi

What can i say....YOU ARE AWESOME!!!!!
Works like a charm
Is there a way to edit the names on the fans too? (not a big thing really)
Keep up the good work

Best regards from Norway
Bjørn

![Skjermbilde 2020-05-18 kl  14 27 43](https://user-images.githubusercontent.com/64365977/82213108-edb96500-9913-11ea-8f43-3f8c7d43f5c3.png)

[2020-05-18 12:32] trulyspinach commented on #66
@prawler74 That is great!
The names are usually hardcoded in BIOS as well, are they wrong?
You might need to switch fan socket :)

[2020-05-18 12:47] prawler74 commented on #66
Ok

I will check the headers. Most important. Its working👏🏻

Thanx again
Bjørn

[2020-05-18 13:21] Murmur2k commented on #66
Hate to spam the comments section here but congratulations.. awesome to get this up and running!

[2020-05-18 14:16] prawler74 commented on #66
Hi

Updated to 0.6.3

Everything runs smooth.
I see that you have changed colours on youre fancontrol....how did you do that?

Bjørn

[2020-05-18 14:54] trulyspinach commented on #66
It just follows system setting. You can change it from System Preference -> General.

[2020-05-18 15:10] prawler74 commented on #66
Its been along time since i had a mac(real mac)......must have forgotten certain things.

Would it be possible to let the desired fanspeeds load at startup in a future update?

Bjørn

[2020-05-19 01:26] nguyennghia9222 commented on #66
Hi @trulyspinach ,

Could you please add Chip ITE IT8665E to the supported list chipsets?

Thanks!

[2020-05-19 01:37] trulyspinach commented on #66
@nguyennghia9222 Hi, I don’t have any device with that chip to test on. So it will have to wait until someone would like to develop and test it.

[2020-05-19 02:21] nguyennghia9222 commented on #66
Thanks @trulyspinach,

I will have a look at the source code and implement. Hopefully It works :)

[2020-05-19 06:04] Techystef opened #68 "Fan Control Error"
Could not find driver for your SMC.  Your SMC chip is likely not supported yet.

Ryzen 9 3900x
Aorus Pro x570
![Screenshot 2020-05-19 at 07 04 26](https://user-images.githubusercontent.com/65587253/82290503-fb67fc80-999e-11ea-8579-fb02d54868b1.png)

[2020-05-19 06:06] nvollmar commented on #68
You can find the list of supported chips in #66

[2020-05-19 09:20] joschiv commented on #66
Fan Control not working. HWMonitor shows Fan speeds.
Mainboard Asus ROG STRIX B450-F GAMING

<a href="https://ibb.co/bmq5M4x"><img src="https://i.ibb.co/bmq5M4x/Bildschirmfoto-2020-05-19-um-11-16-26.png" alt="Bildschirmfoto-2020-05-19-um-11-16-26" border="0"></a>

[2020-05-19 11:15] trulyspinach commented on #68
You can find a list of supported chip at #66

[2020-05-19 11:15] #68 closed

[2020-05-19 16:50] automata-killa commented on #23
![Screenshot 2020-05-19 19 46 15](https://user-images.githubusercontent.com/53969619/82354471-841b8280-9a09-11ea-86d7-4d1bc0f3b19f.png)
I'm on the latest release (0.6.3), after resuming from sleep it seems like the tool can't enter low power state. Resetting options doesn't fix it, however I can still manually adjust the clock speed. It seems to boost to the maximum it can put out without any actu

[2020-05-19 18:08] aluveitie commented on #23
I might have located the issue, just need to verify and test it.

[2020-05-19 23:07] firstlast0 commented on #66
Many b450, x470 and some 300 series ASUS AMD motherboards are using ITE IT8665E chipset.

So majority of ASUS AMD users won't be able to see or manage fan speed unless someone implements it. I saw above that @nguyennghia9222 said that he'll try, hopefully he can add the support and share it with @trulyspinach so that it is available in a future release.

I have a ASUS ROG STRIX B450-E GAMING and w

[2020-05-20 10:55] mauricelos commented on #30
Hi, I would like to contribute to this repo. I'm fairly new to kexts and I'm not sure how to build the kexts correctly. When I open the XCode project and try to build the SMCAMDProcessor code I get an error for a missing header file (VirtualSMCSDK/kern_vsmcapi.hpp). Do I have to include this SDK myself? Can't it just use the VirtualSMC kext which is running already on the system? Any help is appre

[2020-05-20 10:58] trulyspinach commented on #30
@mauricelos Put the kext(s) at root directory(same as .xcodeproject).

[2020-05-20 11:10] mauricelos commented on #30
@trulyspinach Awesome, thank you, it worked! BTW, do I need to use debug or release version of VSMC and Lilu? (used debug now)

[2020-05-20 11:13] trulyspinach commented on #30
@bigmillz  indeed, the "CPU temp" shown on your motherboard, or BIOS, might likely be what known as "CPU heatsink temp" collected from SMC chip. This software reports CPU package temp, which is the temp of the silicon itself(MOS temp).

[2020-05-20 11:14] aluveitie commented on #30
@mauricelos Only the debug version includes the needed header files.

[2020-05-20 11:14] trulyspinach commented on #30
@mauricelos it really doesn't matter, all it need at compile time are just some header files copied into their kext bundle.

[2020-05-20 11:28] mauricelos commented on #30
Okay, I will compile them on my own then :) Uhm, how can I load my freshly compiled kext (e.g SMCAMDProcessor.kext). I have a SMCAMDProcessor.kext already loaded at bootup, now I can't unload that kext and loud the new kext. Should I remove the kext from my config.plist and load the compiled kext before running the AMD Power Gadget? I'm a little confused on that. Sorry for all the question! :D

[2020-05-20 11:34] trulyspinach commented on #30
You can unload AMDRyzenCPUPowerManagement anytime if SMCAMDProcessor is not loaded.
Disable them in the config. For debugging kext do` man kextutil` and `man kextunload`

[2020-05-20 11:43] aluveitie commented on #30
I've not tried it that way yet, but you might need to disable SIP.

[2020-05-20 11:48] mauricelos commented on #30
@aluveitie How do you run the kexts? Yeah, seems like MacOS doesn't want to load my kexts, it fails to load (reason unspecified), so I assume this is because of SIP

[2020-05-20 11:49] aluveitie commented on #30
It should load if SIP is disabled and owner of the kext is root:wheel

[2020-05-20 11:51] trulyspinach commented on #30
Yes, disable SIP, and `sudo cp -R` all the required kexts to a temp folder and load them. Unless you enjoy reboot everytime :)

[2020-05-20 12:16] mauricelos commented on #30
Okay, I will try that, thanks @aluveitie and @trulyspinach!

[2020-05-20 17:41] bigmillz commented on #30
Ah yes, it lines up perfectly with MOS temp. Thanks for clarifying!

[2020-05-21 12:12] staking4ada commented on #23
The overall cosmetic feel with 0.6.3 is a lot better, however indeed after wake from sleep frequency graph in tool and gadget are off. manual freq change works, judging from temp and power.

cpu fan works great, including manual adjustment, however rpm not visible in imenu stats, but perhaps i need to look into this myself further.

[2020-05-21 12:20] aluveitie commented on #23
@staking4ada A first fix for the sleep issue has been merged for the next version that should fix it in most cases.

[2020-05-22 04:32] zarboz commented on #30
Hey @trulyspinach

Quick inquiry:

Trying to load the kext portions and having a hell of a time.

Kextutil reports it cant load due to not finding lilu

[code]

and yet kextstat shows lilu registered with proper call .... so I am very confused

[code]

[2020-05-22 05:14] trulyspinach commented on #30
@zarboz Do `man kextutil` and look for the `-r` argument. You need to provide the Lilu binary for it to link against.

[2020-05-22 05:16] zarboz commented on #30
I ended up getting it linked to release version kext now app wont open saying that the version is wrong ?

[code]

![image](https://user-images.githubusercontent.com/1783923/82633734-ba473680-9bb0-11ea-9254-f75ee4fcf02a.png)

[2020-05-22 05:17] trulyspinach commented on #30
Yes the release version is ahead of master. Check the source code where this version check is popped should fix it.

[2020-05-22 06:07] jhirn commented on #30
Hi,

So sorry to be back but I still cannot get this to work on my system. Above I've been told it was a BIOS setting. I've tried everything related to power management to no avail. I recently upgraded all my kexts, opencore, revised my config.plist and still get no cpu scaling from  this tool. Here's a picture of my OC/Kexts folder and relevant config/plist entries. I've tripled checked everythin

[2020-05-22 19:06] reivaj81 commented on #66
First of all, I would like to thank you for your excellent work!

Could you please add support to the Gigabyte Aorus x570 Elite motherboard?

Chip ID: 86, Revision: 88, Not yet supported

Thank you again!

[2020-05-22 21:17] ariejan opened #73 "Crash on launchPowerTool when no GPU is configured"
Hi,

Found a nice edge case for you. I'm running a 3700X on Catalina 10.15.4. _But_, I'm waiting for my AMD GPU to arrive, so I'm still running with an (unsupported) nvidia card. This means VESA mode, bad performance all around, etc. Yet, it's enough to start installing some apps, like yours.

Opening AMD Power Gadget and wachting the pretty graphs works fine. But when I click the hamburger menu (

[2020-05-23 21:24] joera2800 commented on #66
Issue with my Asus B450m-a Motherboard....

[2020-05-23 22:11] yiohan45 commented on #66
![1](https://user-images.githubusercontent.com/42138873/82741522-852b1780-9d5b-11ea-82be-3be1bcefa7ab.png)

[2020-05-24 04:07] trulyspinach commented on #73
Thanks for the feedback. #74 should fix this issue.

[2020-05-24 04:07] #73 closed

[2020-05-24 17:47] zarboz commented on #66
n00b question but other than inspecting the mobo how can I ascertain the SMC chip on board the Gigabyte B450 I aorus pro wifi ?

Am curious would like to help work on fan control for my board

AMD Ryzen 9 3900X 12-Core Processor
Family: 17h, Model: 08h
Physical: 12, Logical: 24
L1(Total): 768 KB, L2(Total): 6 MB, L3(Shared): 64 MB

Motherboard: B450 I AORUS PRO WIFI-CF
Gigabyte Technology Co., Ltd

[2020-05-25 08:42] fabiosun opened #75 "TRX40 CPU Support"
Hi, I do not know if it is possible or not but I will try to ask
I have my system working well in a VM environment Proxmox/OSX
Via passthrough I pass all my devices and I have well working Vanilla hackintosh
I installed SMCAMDProcessor app because I can pass my cpu as Host and see as a real aMD cpu (not Penryin Intel)
in my OC verbose output I see this:
AMDCPUSupport v0.6.3, init
AMDCPUSupport: :

[2020-05-25 08:45] trulyspinach commented on #75
Are you sure the pass through is reporting correct CPUID? From the log it seems simply caused by mismatched CPUID.

[2020-05-25 08:51] fabiosun commented on #75
I think so
Is there a way I could verify?
thank you

[2020-05-25 08:55] trulyspinach commented on #75
`AMDCPUSupport: : start got CPUID: 10 756E6547 6C65746E 49656E69�`
The CPUID was just printed out and it is `GenuineIntel`.

Plus I can't see any reason of using this inside VM. I am not 100% sure but any pass thought will unlikely supports MSRs as it grants direct control to the hardware. So even if you somehow get your VM to fake the CPUID is still won't work.

[2020-05-25 08:57] fabiosun commented on #75
this is complete OSX cpu output:
`fabios-iMac:~ fabio$ sysctl -a | grep machdep.cpu.leaf7_features
machdep.cpu.leaf7_features: RDWRFSGS TSC_THREAD_OFFSET BMI1 AVX2 SMEP BMI2 RDSEED ADX SMAP CLFSOPT CLWB SHA UMIP RDPID STIBP ACAPMSR SSBD
fabios-iMac:~ fabio$ sysctl -a | grep machdep.cpu
machdep.cpu.max_basic: 16
machdep.cpu.max_ext: 2147483679
machdep.cpu.vendor: GenuineIntel
machdep.cpu.brand_stri

[2020-05-25 08:58] #75 closed

[2020-05-25 12:47] HoshiYamazaki opened #76 "This kext causes HoRNDIS to crash?"
https://github.com/jwise/HoRNDIS/issues/121

And yeah, everything was working before I installed this, and before everything ran super-stable for all I needed.

Thanks at advance for help, I want to use my Hackintosh for daily usage until Linux will get better, and I want to have power management too (not really matters if you calculate energy costs while using r5 3600, but still it's better than

[2020-05-25 12:52] HoshiYamazaki commented on #56
I want to note, cleaning NVRam can help though, but it's far from great solution because it cleans your EFI boot entries (not really matters until you have something like GRUB that is not detected by your motherboard BIOS automatically, even if it's installed on separate drive).

[2020-05-25 19:29] mauricelos commented on #66
Update on SuperIO chip IT8688E. I started working on this chip as this is the one on my board (Gigabyte X570 Aorus Pro). So far fan speeds are reporting correctly. Working on gaining control over fan speeds right now. This should also enable monitoring and fan speed control for IT87XX chips with minor modifications to the code.

<img width="482" alt="IT8688E_fan_speed" src="https://user-images.git

[2020-05-25 22:50] emanuelbalea opened #77 "Minimise to menu/status bar"
First this works like a charm on the 3950X, so thank you for spending the time to do this. While a developer, I'm a newbie to macos dev so have no idea where to start, so thought to ask first.

My questions:

1. Is it possible to add a feature to minimise this the top menu bar or make the app start with no windows?

1. Or is the app even required for this feature to function?

At the moment I have

[2020-05-25 22:59] myossima commented on #66
Hi ,

I've same board , have managed fan control to work ?

thanks

[2020-05-26 02:14] trulyspinach commented on #66
@mauricelos That looks very nice :)
Will you open a pull request?

[2020-05-26 05:03] LuHugo commented on #23
@robpneu @aluveitie
Hi, while it's not appropriate to talk about other issues with hackintosh here, I really want to know how to get hackintosh to sleep, and this issue has been bothering me for a month. Do I need to customize my own **USB MAP**?

My CPU is a **ryzen 3900x** and the motherboard is **gigabyte x570 aorus pro wifi**.

[2020-05-26 05:06] aluveitie commented on #23
@LuHugo I'd be happy to help but opening a thread at https://forum.amd-osx.com would be a better place to start that discussion

[2020-05-26 05:10] LuHugo commented on #23
@aluveitie Thanks. I'll check it out.

[2020-05-26 05:32] zarboz commented on #66
![image](https://user-images.githubusercontent.com/1783923/82863647-e8de4d80-9edf-11ea-8133-fabc9ec2b71f.png)
@mauricelos  with like 4 line insertions got 8686 working in my B450I from gigabyte.

[2020-05-26 07:35] mauricelos commented on #66
Sure, I will create a pull request. Fan control works as well. Just need to fix a small issue, where the fans don't go back to auto mode, then it's done :)

[2020-05-26 07:42] mauricelos commented on #66
Four line insertions sounds very less. For IT8688E I needed a completely different way of connecting to it, and different values for fan rpm etc. Also for a new chip (new chip family), there should be a new class inheriting the base class for a clean implementation in my opinion.

[2020-05-26 11:06] trulyspinach commented on #23
@staking4ada Yes those fan infomations are currently only visible in the software as it is not registered to VirtualSMC.

[2020-05-26 11:13] trulyspinach commented on #77
Hi @emanuelbalea, you certainly don't need to keep the user space application running to use kernel features. However you might want a menu bar application for displaying reading. I have plan to make one but never had time yet. It shouldn't be too hard.

[2020-05-26 11:28] HoshiYamazaki commented on #76
I disabled the kext, and it still crashes, so I assume SMCAMDProcessor has nothing with it, probably some bug in AppleALC or sth.

[2020-05-26 11:28] #76 closed

[2020-05-26 15:11] zarboz commented on #66
@mauricelos  yes based off open hardware monitor source code your framework SHOULD support all IT8xxx chipset just need to define them in header / code

[2020-05-26 15:21] mauricelos commented on #66
@nguyennghia9222 and @firstlast0 I created a PR for your SuperIO chips. Check it out: https://github.com/trulyspinach/SMCAMDProcessor/pull/81

Maybe also try it out and see if it works (should work ideally :D)

[2020-05-26 15:23] mauricelos commented on #66
Yes, almost all chips should work. There is still some small differences between some chips, but a couple of chips should work with this out of the box! :)

[2020-05-26 15:48] zarboz commented on #66
if I had more SMC chips to test deployment on I would. I can confirm working 100% on 0x8686 chip

[2020-05-26 18:45] InsanelyHack commented on #56
I also suffered with the same kernel panic on the 3900X

[2020-05-27 04:36] #50 closed

[2020-05-27 07:56] romancin commented on #66
Thank you very much for the PR, working flawlessly on B450 Aorus M here! Is there anyway to expose the Fan Speed sensor data to iStat Menus? Thank you!

[2020-05-27 08:18] trulyspinach commented on #66
@romancin Please refer to #10 for SMC register related issue. It totally depends on if iStat have hardcoded their fan feature as well. Modify SMCAMDProcessor kext to register those key should find that out.

[2020-05-27 09:27] romancin commented on #66
Thank you! As said by @nguyennghia9222 it works fine if I use SMCsuperIO.kext! :D

![image](https://user-images.githubusercontent.com/17579835/83002013-cdbd2c00-a00c-11ea-9b6b-e3d829b48ec2.png)

Refresh moment is a little bit different on both applications, but I can see the speed in the menu bar :)

[2020-05-27 22:06] Murmur2k commented on #66
Just updated on my Ryzentosh and its working.. fantastic job, thank you! With SMCSuperIO I can even see the fan speeds in TGPro though can't control them there.. anybody have any luck with that?

[2020-05-28 02:43] trulyspinach commented on #66
Please, use this thread only for reporting problem with support of different SMC chip. Thanks
Please ask on other forums for SMCSuperIO related problems.

[2020-05-29 01:01] nguyennghia9222 commented on #66
Thanks @mauricelos ,

I tried to implement it but It's difficult to me due to I'm just a web developer. But I found something new. Hopefully someone can implement it for many chipset
https://github.com/a1wong/it87/blob/master/it87.c

[2020-05-29 01:53] mauricelos commented on #66
Your chip is present in the latest release so check it out and let me know if it worked! :)

[2020-05-29 06:44] nguyennghia9222 commented on #66
It works perfectly. Thanks for your good work!!!

[2020-06-02 01:13] kokokobe opened #82 "panic when manual sleep"
machine:3700x + x470+5700xt
os: macos catalina 10.15.5
error message:
sleep transition timed out after 180 seconds while halting all non-boot cpus

[2020-06-02 04:35] aluveitie commented on #82
This usually happens when some USB device blocks transition to sleep. A known issue under AMD hackintoshes.

[2020-06-02 08:15] romancin commented on #82
Same problem here, panic when entering sleep manual or automatic. It seems a problem with SMCAMDProcessor, because if I disable both kexts, sleep continue working. This problem appeared after updating to 10.15.5

Until 10.15.4 it worked perfectly fine.

[2020-06-02 08:23] aluveitie commented on #82
Strange, still works fine for me. Do you have the complete error report?

[2020-06-02 09:26] romancin commented on #82
If you can help me  to get it, I will be glad to paste it here. Right now I can't see anything, when machine enters sleep, it hangs and I need to reboot it :(

[2020-06-02 09:46] aluveitie commented on #82
Did you wait 3 Minutes? After 3 Minutes the sleep transition times out and MacOS crashes, after the reboot you should get the error report.

[2020-06-02 10:33] romancin commented on #82
Thank you!

Here you have it:

panic(cpu 0 caller 0xffffff8019a9167c): Sleep transition timed out after 180 seconds while halting all non-boot CPUs: tCPU 10 (5) [tid=0xae(bp=0 sp=0) s=0x0 ps=0x0 cpa=0x0 spa=0x400 pl=1 il=0 r=1]. Thread 0x74.
Failure code:: 0x00000000 00000019

Backtracing specified thread
Backtrace (CPU 0), Frame : Return Address
0xffffffa3f8133900 : 0xffffff80194458f8 mach_kernel

[2020-06-02 10:52] aluveitie commented on #82
Thanks, that would point to `SMCAMDProcessor` (which is optional), could you try with just the power management kext enabled to single out the source?

[2020-06-02 10:54] aluveitie commented on #82
@kokokobe Do you also use `iMacPro1,1`? I'm using `MacPro7,1` and experience no issues. Maybe it's related to SMBIOS specific changes?!

[2020-06-02 11:04] romancin commented on #82
Optional but really important, because it is the one that gives me visibility of the temperature of the processor. I am going to try without it to see if behaviour is different. Will tell you how it goes.

[2020-06-02 11:06] romancin commented on #82
Yes, I use iMacPro1,1 for DRM purposes, tried iMac19,2 but had a lot of problems with DRM. Will try with MacPro7,1 to see if it changes.

Thank you!

[2020-06-02 12:02] romancin commented on #82
panic(cpu 0 caller 0xffffff8015a9167c): Sleep transition timed out after 180 seconds while halting all non-boot CPUs: tCPU 8 (5) [tid=0xa8(bp=0 sp=0) s=0x0 ps=0x0 cpa=0x0 spa=0x140 pl=1 il=0 r=1]. Thread 0x74.
Failure code:: 0x00000000 00000019

Backtracing specified thread
Backtrace (CPU 0), Frame : Return Address
0xffffff83d2cf3900 : 0xffffff80154458f8 mach_kernel : _machine_switch_context + 0xc

[2020-06-02 12:15] romancin commented on #82
Not working:
panic(cpu 0 caller 0xffffff801d69167c): Sleep transition timed out after 180 seconds while halting all non-boot CPUs: tCPU 10 (5) [tid=0xae(bp=0 sp=0) s=0x0 ps=0x0 cpa=0x0 spa=0x400 pl=1 il=0 r=1]. Thread 0x74.
Failure code:: 0x00000000 00000019

Backtracing specified thread
Backtrace (CPU 0), Frame : Return Address
0xffffff83bfdf3900 : 0xffffff801d0458f8 mach_kernel : _machine_switch

[2020-06-03 06:00] aluveitie commented on #82
I'm using a custom built version of this kext (automatic speed adjustment/low power mode enabled by default, CPB disabled by default, modified speed adjustment). Sleep was still working for me on 10.15.5 (not yet tested sleep with the supplemental update). I cannot imagine my changes would make any difference in that regard but you could give it a try
[AMDRyzenCPUPowerManagement.kext.zip](https://

[2020-06-03 07:06] kokokobe commented on #82
Mac Pro 7,1

[2020-06-03 07:08] kokokobe commented on #82
disable SMCAMD   sleep will work

[2020-06-03 07:09] kokokobe commented on #82
same panic message

[2020-06-03 12:45] trulyspinach commented on #82
From the panic log it doesn't seems to directly linked to this software.
@romancin that option you've mentioned turning that off only changes some internal parameters within this kext and nothing else. So it should not be related.
Are you able to do more test and confirm that sleep doesn't work when it is enabled and works when you uncheck that option, every time? That would really help me debuggi

[2020-06-03 13:06] romancin commented on #82
Same behavior, but thank you for your help!!

[2020-06-03 13:07] romancin commented on #82
Of course, I am going to test more times and report back. Thank you!

[2020-06-03 17:37] romancin commented on #82
@trulyspinach you were right, I have tested disabling again the automatic speed and it also hungs when sleep, so this is not the problem as you said :(

Are there more things I can try to help you diagnose this problem? Thank you very much for your help!

If it is important for you, motherboard is Gigabyte B450 Aorus M and Ryzen 3600.

[2020-06-03 20:38] automata-killa commented on #82
Didn't have KP with sleep, mine works but after waking from sleep both audio and video playback slightly stutters.

[2020-06-04 09:10] suntrix commented on #56
I just got this panic on hard boot (via power button), but shortly after completely shutting down Win10 (it seems to have something to do on my PC). I'm not using OC to boot to Windows.

Threadripper 1950X, Gigabyte X399 AORUS XTREME (latest BIOS - F5), OC 0.5.9.

[code]

[2020-06-04 17:39] DelchelTech commented on #66
Please add support for NCT6779D-R (Asrock B450M Pro4)

[2020-06-04 19:05] Mushmuch commented on #82
**Issue**:
When I run SMCAMD Processor, the hack panics when going to sleep.
**Testing**:
- Restart, plug iPad to XHC0 port, manually trigger sleep from Apple menu ->sleeps
- Enable kexts in this order: VirtualSMC.kext, AMDRyzenCPUPowerManagement.kext, SMCAMDProcessor.kext
- Restart, plug iPad to XHC0 port,  trigger sleep from Apple menu -> black screen, fans slow down then spin up again. Stays in

[2020-06-05 03:28] dr03m commented on #66
I have the same board.

[2020-06-05 06:09] kokokobe commented on #82
Let me try this UsbPowerKext

[2020-06-05 19:03] nehbit opened #84 "Spinlock acquisition timeout crash"
Hi there,

Thanks for this kext — both the app and power management has been super useful. I've just experienced a kernel panic that could have been caused by this, just wanted to pass over the crash report.

Potentially relevant circumstances:

- This is the first kernel panic I've experienced that has this kext in the trace, so the system has been stable and well behaving so far, for the past we

[2020-06-05 19:25] aluveitie commented on #84
I've run into the same issue, 15-30min after sleep MacOS completely froze. #70 fixed that issue for me, no panic in the last two weeks.

[2020-06-05 19:39] nehbit commented on #84
Thank you! Yes, you're correct, I'm also having the complete freeze, updated the report as such. I'll try and report back whether it makes a difference.

[2020-06-05 21:07] nehbit commented on #84
I've compiled your `sleep-restore-state` branch and it has not crashed after sleep for the past hour just yet. However, the AMDPowerGadget says `No AMDRyzenCPUPowerManagement Found!` and quits. Is this supposed to happen, or did I make a mistake in the compile process? I don't usually use Xcode or Swift, so it's quite possible that I did.

[2020-06-05 21:52] aluveitie commented on #84
All fine, the branch is based on an older state that is probably not compatible with the latest version of the gadget. I can update it tomorrow.

[2020-06-06 11:12] frictionlessDevelopments commented on #82
Hello!

I am facing this issue as well with the following hardware and software

## Hardware Specs

- Gigabyte X570 Aocrus Elite
- Ryzen 7 3700X
- Gigabyte 5700XT

### OpenCore Configuration

- OpenCore 0.5.9
- macOS 10.15.4
- SMBIOS MacPro7,1

## Tests

SMCAMDProcessor 0.6.4 fails to sleep with the following scenario

1. Disabling "Automatic Speed Adjustments"
2. Not injecting SMCAMDProcessor as

[2020-06-06 11:42] nehbit commented on #84
Thank you! It'd be great — the power gadget is quite nice to have access to.

[2020-06-06 11:56] tikizondo94 commented on #82
Same issue with my machine. "Ryzen 1700/Gigabyte x370 Gaming K5/10.15.5". All worked normal up till 10.15.5 update. Remove both SMC and PM kexts and system sleeps normal again. Attached is wake report.

Last login: Fri Jun  5 16:32:32 on console
paul@Pauls-iMac-Pro ~ % log show --style syslog | fgrep "Wake reason"

pmset -g assertions
paul@Pauls-iMac-Pro ~ % pmset -g assertions
2020-06-05 16:34:05

[2020-06-06 19:07] aluveitie commented on #84
I've rebased the pull request to latest master. With that the latest AMDPowerGadget should work again.

[2020-06-09 13:00] Pietermac opened #85 "AMD Power Tool Configuration Speed step not working."
Hi,
Great application but I am having an issue with the Power Tool Configuration.  I can select the various speeds available (3700 2880 2200) but it makes no difference to the graph or frequency of processor.  It could be my system (Ryzen 3900 (non x version) + MSI b450itx Motherboard but would love to get this working.
![Screenshot 2020-06-09 at 13 58 59](https://user-images.githubusercontent.com

[2020-06-09 13:02] aluveitie commented on #85
Maybe check the BIOS settings regarding the CPU. I had similar weird behavior when a fixed voltage was set.

[2020-06-09 16:36] Pietermac commented on #85
Thanks aluveitie, I have had a nosey around the bios and changed various voltage settings but with no luck, any idea what I am looking for?

[2020-06-09 16:51] aluveitie commented on #85
In my case I've undervolted my CPU to keep temps in check until I found this tool to monitor the CPU. That should be pretty easy to spot I guess.

[2020-06-09 17:06] Pietermac commented on #85
Perfect, was a lot simpler than I expected, a setting called Games Boost was enabled.
Thanks again and I hope this helps someone else in future.

[2020-06-10 07:06] nehbit commented on #84
I got a chance to compile + run your rebased version — for some reason it still doesn't appear to be compatible with the app, not entirely sure why. (I pulled the updates to the branch on your repo, not sure if there's a way to pull directly from a pull request)

[2020-06-10 07:21] aluveitie commented on #84
Right, the last release is a little behind master. I'm also using a modified version of the App.
You could just build the App from latest master too, that will work.

[2020-06-10 08:11] nehbit commented on #84
Good idea, I should do that.

By the way, I discovered that the 'Automatic Speed Adjustment' setting on the app shaves a good 150 points off the machine's Cinebench R15 score (Enabled: 1570~, disabled, 1750~). Reading the description a little closely, it does make sense, but it's a little unintuitive considering that it does not appear to actually slow down my 2700x at idle — the idle power consum

[2020-06-10 08:18] aluveitie commented on #84
The difference is small in idle as long as core performance boost is disabled.
In idle my CPU at 33C independent of P-State, but if I've CPB enabled then it gets up to 50C in P0 without any load. In that case the power adjustment effectively disables boosting when idle.

[2020-06-10 08:26] nehbit commented on #84
Interesting. I have CPB and CPB Overdrive enabled and maxed out. My idle temp is 40-41C, at which point fans are at the lowest possible rate. I've also set the CPU and chassis fans to ramp up aggressively, so at full load the CPU is at 145W with peaks at 155W, and the temperature stabilises around 74C at 100% on all cores.

My work involves hammering the CPU with hundreds of compiles every day, so

[2020-06-11 14:52] #85 closed

[2020-06-11 15:02] trulyspinach commented on #84
There should not be any difference for your compilation jobs. Cinebench is very sensitive when your score is high enough. If I were you I would not worry too much about few hundred difference in Cinebench score when it is already above 7000. In fact I feel like compilation will most likely cap by IO unless every single of your source files is 10000 lines long :). The current configuration of this

[2020-06-11 18:42] nehbit commented on #84
I did some totally non-scientific testing with a part of our pipeline. Here are the results:

[code]
In essence, you're right. Subjectively speaking, having it on High all the time does feel slightly more responsive but I'm almost certain that's placebo.

[2020-06-12 08:34] trulyspinach commented on #84
It is too hard to control other factors. You OS can schedule some other task to do at any time. And a higher CPU temp could also have negative effect on CPB performance.

When you've mention compiling thing I thought it is CMake projects, etc. I don't have many experience with Webpack but from my limited experience i believe that it was running mostly in a single thread. And maybe it will fetch so

[2020-06-12 09:13] nehbit commented on #84
Yes, Webpack is entirely single threaded but it doesn’t download things in the compile process. It’s only a party of our compile process though, we have a lot of native binaries emitted from make / clang as well.

[2020-06-12 17:45] donaldzhu opened #86 "Frozen After Hiding/Minimizing AMD Power Tool"
Hey! Thanks for the app and the kext, they work very well. One issue that I have noticed is that, after you hide (Cmd + H) or minimize AMD Power Tool, the GUI is frozen in place and stops updating. I am not sure if it is still power managing in the background or is it just the display that's no longer working.

[2020-06-13 18:03] thomasbomadsen commented on #66
![image](https://user-images.githubusercontent.com/66882781/84575877-d05fa580-adb0-11ea-92bd-db562d6dbb0e.png)
Isn't this the IT8688E... or have i got it wrong ?

[2020-06-13 18:13] mauricelos commented on #66
Yes, it definitely detected it. Really strange that it doesn't show the fan speed etc. 🤔 Would you mind checking in Windows with HWInfo or something like this to see the exact chip you have?

[2020-06-13 18:42] thomasbomadsen commented on #66
Thx.. HWInfo reported it was indeed 8688E.. but it turned out I needed to upgrade to ver. 0.6.4 - then the can control connected.

\Thomas

[2020-06-15 04:01] trulyspinach commented on #86
Hi @donaldzhu. Thanks for the feedback. This appears to be a small bug in the GUI application. You can simply close the window and reopen to make it behaves as normal again.  I will post a fix soon.

The actual management code is loaded in kernel and will always be running.

[2020-06-15 18:43] thomaslfessler opened #87 "AMD Power Gadget Window - Disabling the Graphs"
In the AMD Power Gadget Window:

- Running with a 3900x.
- Drawing the Frequency, Temperature and Power graphs graphs consumes ~15% of system resources.
- Disabling the graphs in code reduces CPU utilization to 0.2%.
- When application is minimized, CPU utilization does not reduce, indicating the Frequency, Temperature and Power graphs are still drawing in the background and consuming CPU resource

[2020-06-15 19:43] aluveitie commented on #87
You can just quit the App, the power management is done by the kext independent of the App.

[2020-06-16 00:10] trulyspinach commented on #87
Indeed, why kept the windows open if you don’t want to see the graph? I believe all Cocoa applications will stop rendering when minimized to background, it could be the timer task that is running that forcing CALayer to update. I will do more profiling soon, but I’ve never saw the application use more than 5%. And I am as well using a Ryzen 3900

[2020-06-16 04:36] aluveitie commented on #87
I'm also seeing 15-20% CPU usage in the Activity Monitor

[2020-06-16 15:41] chbend opened #88 "information error when overclocked"
when overclocking a 200ge CPU speed steps stops working and looks like no print

![Captura de Tela 2020-06-16 às 12 39 20](https://user-images.githubusercontent.com/1281500/84795938-7ccaa300-afce-11ea-997e-ada5fea01673.png)

![Captura de Tela 2020-06-16 às 12 39 05](https://user-images.githubusercontent.com/1281500/84796010-8c49ec00-afce-11ea-88de-e6c55ff5ca50.png)
![Captura de Tela 2020-06-16 a

[2020-06-16 18:13] thomaslfessler commented on #87
The load is directly attributed to the drawing routines.   Not that the visualization of the graphs is a bad thing, it's just a bit resource intensive on macOS Catalina 15.5.5 with a 5700XT running a 4K display.

Running the distributed application, AMD Power Gadget  is currently using 15.7% CPU utilization.   Any time the displayed graphs displays a large variance in values,  CPU utilization incr

[2020-06-17 00:22] #88 closed

[2020-06-17 00:40] trulyspinach commented on #87
The information you have provided is not helpful at all. Yes of course directly disabling some functionality in source code will reduce CPU usage. Plus 15% is very much acceptable. Beware that activity monitor uses Unix style display in which that 15% is not of your whole system, but a single logical thread. Though it is always good to optimize and reduce resources usage. It would be helpful if yo

[2020-06-17 04:50] aluveitie commented on #87
I went back to version 0.6.1 and re-tested. There was virtually no CPU load by the App back then. I assume the new fluid drawing added afterwards is the source of it.

And the differences are not neglectable. The new implementation seems to results in 10-15 Watt increased power usage while idle with temperature up by about 2 degrees compared to the old implementation.

[2020-06-17 22:15] thomaslfessler commented on #87
@trulyspinach.  Hmmm.  And here I thought I clearly demonstrated chart drawing is the source of the CPU usage.    Showing with drawing enabled (15-18%)- disabled(0.5%), and with one chart enabled out of 3 (5% or 33% of the load) ~ VS the overall low percentage on your machine with a 3900x.

@aluveitie - Good catch on increased power consumption and temp increase due to the drawing routine.

[2020-06-18 02:16] nehbit commented on #84
Bringing this issue back to the spinlock crash I've been experiencing, I've discovered that the reason why the app wasn't seeing the kext isn't the version mismatch ... but because the compiled kext wasn't being loaded. /facepalm.

@aluveitie, do you have any idea why the kext would not load? It compiles fine with no errors, and appears to generate well-formed build artifacts. It just seems that t

[2020-06-18 02:23] jaseinny commented on #66
Awesome Trulyspinich for working on it!

Quick question, when you say you are working on the NCT6683 does that mean that includes the NCT6683D-T (B)? I'm totally new with this so please excuse my lack of knowledge about Super IO SMC stuff.

[2020-06-18 05:32] aluveitie commented on #84
@nehbit I never used Clover so I have no idea. It always worked for me with OpenCore.

[2020-06-18 06:28] nehbit commented on #84
I think it's probably something with my compile not being right because the releases from this (non-forked) repository work fine, it's just the ones I compile that have the issue. I'll spend some more time working on it I guess — could be something like a Lilu version mismatch. If you're inclined, it'd be super useful to have a compiled version of both kexts as a Github release on your fork, or to

[2020-06-18 06:57] aluveitie commented on #84
You could try mine: [AMDRyzenCPUPowerManagement.kext.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/4796765/AMDRyzenCPUPowerManagement.kext.zip)

(it also contains some minor modifications to the power management algorithm/default settings but that should not make any difference)

[2020-06-18 07:07] nehbit commented on #84
I got yours in and it definitely loads now. Thank you. I'll report back in a few days to see if I've seen any more spinlock crashes. Should be fairly fast, I usually get one every day.

One interesting side effect is that after installing your kext, my CPU for the first time started to go below 3.7ghz — its idle power consumption dropped from 30~Watts to 13. Sweet! Though I'm not sure why this was

[2020-06-18 07:12] aluveitie commented on #84
My kext has automatic speed adjustment and lower power state enabled and CPB disabled by default.

[2020-06-18 07:15] nehbit commented on #84
Interesting, then it's definitely working. I had the lower power states enabled already on the unmodified version but it had not made a difference. This time though, it actually does work. Oh well — let's see how this fares, shouldn't take much longer to figure out if it helps with the spinlock issues.

[2020-06-19 21:55] nehbit commented on #84
Reporting back after two days and several sleep cycles. No spinlock crash since then, no performance regressions, everything seems fine, while the non-modified kext is reliably crashing after sleep. I recommend this pull request be merged if there are no other concerns.

Here are my system details:
![](https://i.imgur.com/nVe1Mzj.png)

[2020-06-28 14:54] Rescticed opened #89 "Big Sur Freeze then fail reboot"
Stops here in the screenshot below
![IMG_0706](https://user-images.githubusercontent.com/67281582/85950920-a0d79e00-b957-11ea-8685-84a4e3dadc10.jpg)

[2020-06-28 15:10] trulyspinach commented on #89
Hi, though I have net tested myself, many have reported that this kext is working in Big Sur. From you photos it seems the kext has loaded successfully, and the reason for the problem most likely is not related to this kext. You can test this by disabling the kext and reboot.

[2020-06-28 15:38] Rescticed commented on #89
disabled and working again, it was working fine when I first posted, but after some time using the system it froze and was forced to reboot.

[2020-06-28 15:59] romancin commented on #82
Any news on this issue? Can we make something to try to help? Thank you!

[2020-06-29 11:27] trulyspinach commented on #89
Thanks for the feedback. I will take a look into it ASAP

[2020-06-30 15:10] alexmenn opened #90 "Cant get speedsteps ryzen 3900x"
![Captura de pantalla 2020-06-30 a las 17 13 13](https://user-images.githubusercontent.com/42182041/86143682-090fb680-baf5-11ea-8dbd-e2465d5baac1.png)
Hi all!
I have brand new system with MSI x570 wifi edge and ryzen 3900x.

Everythig is working perfectly, but I cant get speedsteps with power gadget and kexts installed. Always displays my max turbo. I tried to configure freq in auto (3,8ghz in sto

[2020-07-02 09:53] cuongvoong commented on #87
I noticed the increased power usage too while idle as @aluveitie has mentioned.

[2020-07-02 16:14] MaximumQuiet commented on #89
If you're using Opencore, have you enabled dummy power management? System stuck looks like you're not

[2020-07-02 19:59] JoeGodz commented on #66
I'd appreciate support for the NCT6779 chip in the Asrock b450 Pro4 mobo

[2020-07-04 10:25] trulyspinach commented on #66
@jaseinny Hi, it should work for NCT6683 and all its variants. By unfortunately the driver doesn't fully work for this chip yet as mention in the first post.

[2020-07-04 10:26] trulyspinach commented on #66
@JoeGodz I surely will look into it went I have time :)

[2020-07-07 16:08] JoeGodz commented on #66
Thanks a lot! If you need help with anything or need me to test something lmk:)

[2020-07-12 11:13] roidm commented on #89
KP booting with the new BootKernelExtensions.kc,  related to Lilu dependency, it works fine using prelinkedkernel method

[2020-07-14 15:43] oznem67 opened #93 "SMCAMDProcessor.kext not loading"
Hello developers, in thanking you for the much appreciated and useful utility, I have to signal that on my system the kernel extension "SMCAMDProcessor.kext" does not load and OpenCore returns "invalid parameters" in the debug messages.
I have tried different releases of the extensions and different released of OpenCore without success. To be noted that "AMDRyzenCPUPowerManagement.kext" loads corr

[2020-07-17 12:47] alvarini opened #94 "Random panic when in long sessions"
When I use OSX and SMCAMDProcessor I got a random kernel panic. The OS got freeze.
Thanks so much for the develop of this app, I really love it.

Panic copy :

RAX: 0xffffff8018a0ce80, RBX: 0x0000000000000046, RCX: 0x000000000000000c, RDX: 0x000004cab0cdf094
RSP: 0xffffff81ddedde90, RBP: 0xffffff81ddeddeb0, RSI: 0x000004cbf21275c4, RDI: 0xffffff8018a0ce20
R8:  0x0000000000000001, R9:  0x0000000000

[2020-07-17 12:50] aluveitie commented on #89
I can confirm it is working when using the prelinkedkernel instead.

[2020-07-17 12:54] aluveitie commented on #94
Does this happen after sleep or in general?

Might be worth testing my build to see if that fixes it: https://github.com/trulyspinach/SMCAMDProcessor/issues/84#issuecomment-645819840

[2020-07-18 06:39] hmaleville commented on #56
Same problem with Ryzen 3600:

      Kernel Extensions in backtrace:
         wtf.spinach.AMDRyzenCPUPowerManagement(0.6.4)[1C8D6AF1-3F8A-3298-BCAE-5CAEE5D4A19B]@0xffffff7fa063f000->0xffffff7fa0657fff
            dependency: as.vit9696.Lilu(1.4.4)[F5046AD3-418C-395C-9862-F80D7B19B7C2]@0xffffff7fa0402000
            dependency: com.apple.iokit.IOPCIFamily(2.9)[1B1F3BBB-9212-3CF9-94F8-8FEF0D3ACEC4]@

[2020-07-19 21:48] yash-vardhan-mishra commented on #30
I'm fairly new to building Hackintosh and I've recently built one with Ryzen 5 2400G and RX 590. Currently I'm not facing any issues and **just want to monitor the CPU temps**, not interested in changing fan speed, PState or any form of tweaking whatsoever.
Has anyone tested it with 2400G, just want to check if it doesn't run into any problems because of iGPU

[2020-07-23 19:49] Goth opened #95 "This software needs to be updated. Contact the developer for more information."
![Screenshot 2020-07-23 at 22 48 29](https://user-images.githubusercontent.com/1408367/88332123-c0839b80-cd36-11ea-8661-3f0562ede7d9.png)

[2020-07-24 17:12] leifadev opened #96 "What is my chip and will it ever be supported for fan control?"
I saw the list of supported chips in the issue truleyspinach created. I have a Ryzen 7 2700X, is this a type of chip?
Not really sure how to find out what my chip is and such. Is my chip the ones that are currently being worked on?

[2020-07-24 17:34] mauricelos commented on #96
The processor has nothing to do with the fan control, this task is taken up by the super io chip. So to see if yours is supported you would need to use a tool like HWInfo to find out which specific super io chip you have. Once you have that information, we can tell you if it's supported or could be supported in the future.

[2020-07-25 13:14] Xardas220 commented on #95
Hi,
Go into the Application folder, right click on the .app and click "open". Then you should be able to open it.

Xardas

[2020-07-25 13:20] Goth commented on #95
Same thing. Cannot be opened.

[2020-07-26 08:52] #95 closed

[2020-07-26 08:53] #96 closed

[2020-07-28 06:02] khevin014 commented on #89
@aluveitie may I know how you get it working on Big Sur?

[2020-07-28 06:05] aluveitie commented on #89
@khevin014 using prelinked kernel instead of kernel collection (by setting booter-fileset-kernel/booter-fileset-basesystem)

[2020-07-28 07:33] khevin014 commented on #89
@aluveitie thanks a lot buddy. Appreciate your quick response. :) Will try that later.

[2020-07-28 12:54] aluveitie commented on #84
@trulyspinach Since we didn't hear anything back it looks like with that pull requests it's working much better. Any chance to get that in?

[2020-07-28 13:58] trulyspinach commented on #84
@aluveitie Sorry for the delay, I just have been very busy these days. I promise I will look into the merge ASAP :)

[2020-07-28 14:28] borygo77 commented on #84
@nehbit how did you hot this working with Clover? Can I have a look on your efi folder please? I just can't get it to work with clover despite system runs totally fine 🤔
Sorry to steal your topic 😉

[2020-07-28 15:46] totalgaara commented on #30
Hi, do you think you could add support to more CPU? I've an AMD FX and unfortunatly this doesn't work (i tried because the presentation page said "for amds cpu".

It would be so great to have this app on amd fx, especially for power management because as you know, FX can be very power consuming and also monitor the CPU temps

Thank you 👍

[2020-08-01 06:19] fishaffair commented on #57
I have this problem too. Opencore 0.5.9. Same processor.

[2020-08-01 12:14] TFG-BCI-UNED commented on #57
Me too.
RX570 instead
Firefox browser.

[2020-08-01 14:47] Stooovie opened #97 ""Enable low power state" - on by default?"
Is there a way to enable this by default? If not, consider this a feature suggestion. Thanks for your great work!

[2020-08-02 01:27] mikigal opened #98 "AMDRyzenCPUPowerManagement panics on Big Sur"
macOS version: 11.0 (20A5323l)
Lilu version: 1.4.6
CPU: Ryzen 7 1700

Panic logs (GitHub does not like .panic files): https://pastebin.com/jbH9MqF4
Before panic got: AMDCPUSupport::start WARN: Can't find _KUNCUserNotificationDisplayAlert.

![Zrzut ekranu 2020-08-2 o 03 25 09](https://user-images.githubusercontent.com/10632503/89113334-c9c7e300-d46f-11ea-933b-6646ed964707.png)

[2020-08-02 13:21] fishaffair commented on #30
Thanks for a great project 😉!

There is a strange bug, maybe it is only related to my motherboard (gigabyte b450m s2h), but with your kext event i disable auto frequency in power gadget i have sound & video lags in Chome / Opera / Firefox , but not in Safari. I talked to some owners of the same motherboard as mine and they all have such a bug. It is very strange.

[2020-08-03 17:06] felipejfc commented on #82
I confirm I can sleep just fine using 0.6.3 and get same crash using 0.6.4. I'm using SMBIOS iMacPro1,1 and have a b450 tomahawk with a ryzen 5 3600

[2020-08-03 23:47] felipejfc commented on #82
So I did some digging and narrowed the issue down to this commit https://github.com/trulyspinach/SMCAMDProcessor/commit/41109ffe96aba2fb0e190d6e3e29af69b84875c9

In the method setPowerState if you comment out the lines stopWorkLoop and startWorkLoop no panic happens and the pc sleeps just fine.

[2020-08-04 06:55] Stooovie opened #99 "Doesn't work with OpenCore 0.6.0"
When booted with OC 0.6.0, AMD Power Gadget app gives me an error "No AMDRyzenCPUPowerManagement Found! Your AMDRyzenCPUPowerManagement version is outdated. Please use the lastest version and start this application again." But there's no newer version. The kexts are added in the config.plist properly.

[2020-08-04 07:01] aluveitie commented on #99
I have been running kext and app with OC 0.6.0 nightly builds for weeks now, also with the final release I've not seen any issues.

[2020-08-04 07:06] Stooovie commented on #99
I have booted into 0.5.9 and it works. Booted into 0.6.0 and it doesn't. Weird.

[2020-08-04 17:56] felipejfc commented on #99
I confirm I cant change speed using OC 0.6.0, also all my cores reports avg speed of 4.1ghz when before they would be way lower and I would be able to manually set step. something is definitely broken

[2020-08-04 22:32] rpfile commented on #93
i see this as well, and i don't understand because the Lilu i am using seems to have been released before SMCAMDProcessor.kext.

[2020-08-05 08:27] trulyspinach commented on #99
@Stooovie that error should cause by you are mix different version of kext and the app. Please make sure you are using them from the same release. I have not yet got a chance to test OC 0.6 and Big Sur yet, will check back when I have run some testing myself :)

[2020-08-05 13:44] Stooovie commented on #99
Hello, I made extra sure I have everything from one release and the issue is still present... On 10.15.6 and OC 0.6.0

[2020-08-06 17:12] Hintro commented on #89
@aluveitie I can't get my system to boot with booter-fileset-kernel and booter-fileset-basesystem with Big Sur beta 4. Is there any other way?

[2020-08-06 18:28] aluveitie commented on #89
Yep, prelinkedkernel is not working anymore in DP 4.

[2020-08-06 21:47] s-kerdel commented on #99
Hi there, I just wanted to let you guys know I'm running 10.15.6 and OC 0.6.0.

There seems to be a problem in the Automatic Speed Adjustment since the frequency seems to stay on max all the time.
Other than that, clicking certain speed-step in the overview doesn't affect the power usage either.
Temperature and power seem to work correctly.

For me the AMDRyzenCPUPowerManagement module is detected

[2020-08-09 08:11] guy-dude commented on #98
Same on Ryzen 3950x.

[2020-08-09 09:23] roidm commented on #98
0.3.4 version works fine

[2020-08-13 15:29] dr03m opened #100 "AMDRyzenCPUPowerManagement causes instant reboot on XNU/Kernel Handoff [macOS 11 Public Beta 1, OC 0.6.0]"
If you want more information, let me know. I do know that any type of Lilu plugin that does Userland patching does the exact same.

[2020-08-13 15:33] aluveitie commented on #100
Thanks for the hint. Btw there is already an issue for this: #98

[2020-08-13 15:39] dr03m commented on #100
Ah, thank you. I just haven't seen anyone mention the instant reboot when XNU/Kernel Handoff starts and some kexts start to load.

[2020-08-14 06:37] aluveitie commented on #100
In the Acidanthera update notes they mention that the Lilu userspace patcher needs to be reworked: https://dortania.github.io/hackintosh/updates/2020/08/03/acidanthera-august.html

I assume that would solve the issue.

[2020-08-15 12:56] dr03m commented on #100
Yes, that would likely be it. I noticed that Lilu plugging that do Userland patching do the exact thing.

[2020-08-16 19:05] UziKhana commented on #93
I see this as well

To reveal 3rd party kexts `kextstat | grep -v com.apple` and SMCAMDProcessor.kext does not appear in the list

![Screen Shot 2020-08-16 at 10 58 33 PM](https://user-images.githubusercontent.com/69767649/90341900-c0fd1280-e014-11ea-9d14-a882cd8eedbc.png)

[Config.plist.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/5081244/Config.plist.zip)

Asus X570-i
3700x
32GB 16

[2020-08-17 10:44] steveharman commented on #66
@trulyspinach Thank you for all your hard work on this, it has allowed me to bring manual control (and much lower noise levels!) to the fans in my system, while still retaining reasonable CPU temperatures.

- Gigabye Aorus Pro X570 WiFi
- Ryzen 3900XT
- macOS 10.15.6

Would I be correct in thinking however, that any changes I set to the fan speeds in Fan Control *do not* persist acros restarts?

[2020-08-17 10:59] aluveitie commented on #66
@steveharman you can also set fan speeds in the BIOS which applies them on every boot.

[2020-08-17 11:50] steveharman commented on #66
Thanks @aluveitie I'll investigate that.

Meantime confirmation of Fan Control values from before & after a restart:

![fanControl](https://user-images.githubusercontent.com/12557929/90393192-26d6b200-e088-11ea-9a76-2d2df2b8420a.png)

[2020-08-30 03:30] TuranUl opened #101 "Big Sur Support ?"
AMDRyzenCPUPowermanagement.kext causing kernel panic during boot.

[2020-08-30 03:32] TuranUl commented on #101
And Handoff not working

[2020-08-30 04:02] htanh034 commented on #101
Now only kext SMCAMDProcessor.kext support Big sur. AMDRyzenCPUPowermanagement.kext Need update

[2020-08-31 05:22] aluveitie commented on #101
There are already two issues open regarding BigSur #98 #100

[2020-09-01 10:05] trulyspinach commented on #101
Indeed, I just updated my Hackintosh and it is crashing!!
I will see what need to be fix.

[2020-09-01 10:06] trulyspinach commented on #98
Please refer to #101 for future fixes.

[2020-09-01 10:06] #98 closed

[2020-09-01 10:06] trulyspinach commented on #100
Please refer to #101 for future fixes.

[2020-09-01 10:06] #100 closed

[2020-09-01 10:10] trulyspinach commented on #90
Please refer to some previous issues. I am using a similar hardware configuration as yours and works fine. This should have something to do with BIOS settings.

[2020-09-01 10:10] #90 closed

[2020-09-02 11:56] trulyspinach commented on #101
Good news!
<img width="1039" alt="Screen Shot 2020-09-02 at 7 49 08 PM" src="https://user-images.githubusercontent.com/8978490/91977977-fc5a4980-ed55-11ea-997f-03ccc922fe79.png">

I had it working on my build but as you can see in the screenshot some UI elements are buggy. There're also some other problems as well that I haven't understood the causes, such as a very long launch time for the app.

[2020-09-03 12:40] trulyspinach commented on #101
https://github.com/trulyspinach/SMCAMDProcessor/releases/tag/0.6.5
The latest updates are published in this release. Please give it a try!

I will close this issue for now and please open up a new individual issues related to Big Sur support.

[2020-09-03 12:40] #101 closed

[2020-09-04 00:42] trulyspinach commented on #99
I have tested and can confirm it is working with opencore 0.6. Please make sure you have the config file formatted correctly.

[2020-09-04 00:42] #99 closed

[2020-09-14 01:53] tommyvct opened #102 "SMCAMDProcessor.kext didn't included in the latest release?"

[2020-09-14 17:01] Xardas220 commented on #102
Look at the code, there's nothing changed. Only a version number, nothing functional.

The changes:

![Changes](https://user-images.githubusercontent.com/28394829/93115774-a6be5f00-f6bc-11ea-8653-58d6f7084b8b.png)

[2020-09-14 20:26] tommyvct commented on #102
Fair enough, Thanks!

It better that have a remark for this in the release note.

[2020-09-15 00:39] trulyspinach commented on #102
Thanks! The SMCAMDProcessor kext wasn’t included since there wasn’t any changes. I will add a remark for that you can use the version from previous releases.

[2020-09-15 00:39] #102 closed

[2020-09-16 05:49] alexandre-g commented on #94
Same here for me, don't think it's related to sleep, get it every other day. Will try the kext above and update in the next few days

[code]

[2020-09-18 04:58] trulyspinach commented on #93
"invalid parameters" should related to that you have incorrect syntax or field in the OC config file, please check that first.

@UziKhana Please load SMCAMDProcessor.kext after VirtualSMC as it depends on it.

[2020-09-18 04:58] #93 closed

[2020-09-18 04:59] trulyspinach commented on #89
The latest release fixed problems that cause panic in Big Sur.

[2020-09-18 04:59] #89 closed

[2020-09-18 05:03] trulyspinach commented on #97
Currently it is not possible. The reason to have this option is that many have reported that system ui will lag heavily when CPU switched to a lower speed. So I kept if off for default. I can make this setting persist but that will have to be in a future version :)

[2020-09-18 07:25] Stooovie commented on #97
All I'm asking :) Perfect! Thanks for your work.

[2020-09-29 18:24] WebMichaelDev commented on #66
Hello ive just installed it
i run a 3700x with a vega 64 on an aorus b550 pro
cant find chip name only chipset what b550

but when i click on fan control i get:
Could not found driver for your smc
you smc chip is likely not supported

how can i fix this

[2020-09-30 01:23] trulyspinach commented on #66
@WebMichaelDev your chip is likely not supported. To fix this first find out what smc chip you have, then develop a driver or post here and wait for other to develop the driver.

[2020-09-30 12:28] mauricelos commented on #66
@WebMichaelDev  Check your specific SuperIO Chip with HWInfo64 in Windows. It's definitely a ITE Chip, I just don't know the exact type. Very likely that we can support it!

[2020-09-30 12:55] WebMichaelDev commented on #66
Hey Maurice I'm running Mac now I will install windows on another ssd to
check it give the results today

Greets

Op wo 30 sep. 2020 14:29 schreef Maurice Loskyll <notifications@github.com>:

[2020-10-04 13:18] hlcfan commented on #25
Hi, thanks for the great work! I'm using Ryzen 5 3600, the temperature is at ~60 C when set the speed step to lowest 2200Mhz, is it normal?

![image](https://user-images.githubusercontent.com/1140383/95016655-e5758280-0686-11eb-853d-8999a444c0a2.png)

[2020-10-04 13:35] trulyspinach commented on #25
@hlcfan it is normal. The temperature report is correct, you can double check with your manufactures's efi bios or other Windows system monitor software in case you doubt it.

If you want to keep the speed fixed at a speedstep you can simply click the button in power tool.

[2020-10-04 14:19] aluveitie commented on #25
@hlcfan it’s certainly high for just idling. With a decent cooler I would expect it be between 30 and 40 degree when doing nothing.

[2020-10-06 13:38] trulyspinach opened #104 "Fix 'The initializers declared in compiler protocol ExpressibleByArrayLiteral shouldn&#39;t be called directly.' issue in AMD Power Gadget\Power Tool\PStateEditorViewController.swift"
[CodeFactor](https://www.codefactor.io/repository/github/trulyspinach/smcamdprocessor) found an issue: The initializers declared in compiler protocol ExpressibleByArrayLiteral shouldn&#39;t be called directly.

It's currently on:
[AMD Power Gadget\Power Tool\PStateEditorViewController.swift:123
](https://www.codefactor.io/repository/github/trulyspinach/smcamdprocessor/source/master/AMD%20Power%20G

[2020-10-06 13:38] trulyspinach opened #105 "Fix 'Prefer checking `isEmpty` over comparing `count` to zero.' issue in AMD Power Gadget\GraphView\GraphView.swift"
[CodeFactor](https://www.codefactor.io/repository/github/trulyspinach/smcamdprocessor) found an issue: Prefer checking `isEmpty` over comparing `count` to zero.

It's currently on:
[AMD Power Gadget\GraphView\GraphView.swift:242
](https://www.codefactor.io/repository/github/trulyspinach/smcamdprocessor/source/master/AMD%20Power%20Gadget/GraphView/GraphView.swift#L242)Commit 912ade0cdfa35f4aec300a6

[2020-10-06 13:38] trulyspinach opened #106 "Fix 'Prefer checking `isEmpty` over comparing `count` to zero.' issue in AMD Power Gadget\Power Tool\CPUPowerStepView.swift"
[CodeFactor](https://www.codefactor.io/repository/github/trulyspinach/smcamdprocessor) found an issue: Prefer checking `isEmpty` over comparing `count` to zero.

It's currently on:
[AMD Power Gadget\Power Tool\CPUPowerStepView.swift:159
](https://www.codefactor.io/repository/github/trulyspinach/smcamdprocessor/source/master/AMD%20Power%20Gadget/Power%20Tool/CPUPowerStepView.swift#L159)Commit 912ad

[2020-10-06 17:26] dmb1107 commented on #106
@trulyspinach May I be assigned to this?

[2020-10-07 03:59] trulyspinach commented on #106
@dmb1107 of course, there's no need to assign. All you have to do is fix it and open up a pull request!

[2020-10-08 01:49] #106 closed

[2020-10-12 22:06] Sznyt commented on #66
Nice job!:) here are my comments to the latest version

1. AUX 4 - missing
2. can't control fans

Can you please kindly make SMC fans window resizable?

Would it be possible to change FAN names? add a possibility to edit them?

AMD Power Gadget window is still too small, Am I right?

Tested platform:
ASROCK TAICHI x570 latest bios 3.40
Nuvoton NCT6798D
2 CPU fans, 4 chassis fans, chipset fan
Big S

[2020-10-12 22:26] Sznyt commented on #30
Nice job!:) here are my comments to the latest version

1. AUX 4 - missing
2. can't control fans

Can you please kindly make SMC fans window resizable?

Would it be possible to change FAN names? add a possibility to edit them?

AMD Power Gadget window is still too small, Am I right?

Tested platform:
ASROCK TAICHI x570 latest bios 3.40
Nuvoton NCT6798D
2 CPU fans, 4 chassis fans, chipset fan
Big S

[2020-10-13 10:54] bigmillz opened #108 "Not publishing CPU temp on OC 0.6.2 and OSX 10.15.7"
Just updated both OC and OSX, and noticed the CPU package temp is no longer reported. AMD Power Gadget however works 100%. Specifically using iStat to report temp.
![image](https://user-images.githubusercontent.com/4524072/95851937-f70ef800-0d20-11eb-98f3-f41552ac25a5.png)
![image](https://user-images.githubusercontent.com/4524072/95851993-0726d780-0d21-11eb-9c33-af8c5aaf588a.png)
![image](https:/

[2020-10-20 06:36] Totelae commented on #30
Hi all ! Thank you for this awesome work.

Everything looks good but I have a question. I have a 3900XT, so a max frequency of 3.8GHz When I set automatic speed adjustement, it goes to 4.7Ghz (the highest overclocked frequency). Is that a normal behaviour ?

Thank you. :)

[2020-10-20 06:40] aluveitie commented on #30
@Totelae That is Core Performance Boost. If you want to limit it to the base frequency you can just disable that here:

<img width="680" alt="Screenshot 2020-10-20 at 08 39 56" src="https://user-images.githubusercontent.com/61966108/96549502-d9f1a080-12af-11eb-9839-6c0252ee46ce.png">

[2020-10-20 07:08] Totelae commented on #30
@aluveitie that simple... I should have dug a little deeper, sorry for that (stupid) question.

And thank you for helping ! :)

[2020-10-26 18:41] bigmillz commented on #108
Hello?

[2020-10-29 19:54] speri203 opened #109 "[BigSur] After sleep effective frequency doesn't fluctuate"
I have noticed an issue on BigSur 11.0.1 where after the computer sleeps and wakes up the effective frequency doesn't fluctuate. When observing the frequency graphs they are also static. The demand fluctuates when observing the per-core charts though. I have added pictures of the observed behavior.
![Screen Shot 2020-10-29 at 2 48 15 PM](https://user-images.githubusercontent.com/36865599/97625482-

[2020-10-30 04:52] BladeScraper-Designs commented on #30
![Screen Shot 2020-10-29 at 11 51 37 **PM](https://user-images.githubusercontent.com/40482965/97661203-b95cdf80-1a41-11eb-90eb-59c0b7e2f509.png)**

wesome stuff.  Works great on my 3900XT and Aorus Elite WiFi X570 macOS 10.15.7 and OC 0.6.2.  Confirmed fan control works as expected.  Can adjust fan speed from 0 to 100% on all that I have fans plugged into, and even the PCH fan is controllable whic

[2020-10-31 09:56] qumuq-til opened #110 "Cosmetic enhancement"
For the cores graph with blue/red bars it would be cool to have topmost horizontal strips fade in/out from 0 to 100 if partially filled instead of how it is right now.
Right now it appears the bar behind is smooth but simply obscured by the grille so the strip itself is 6px high but can be just 1px if not filled completely.

[2020-11-02 13:22] trulyspinach commented on #110
Thanks for the feedback!
I thought of that before and in fact that is what the original idea was. However the implementation is a different story, currently the bars was rendered as dotted lines. Fading will require rendering them as separate rects which would introduce more performance overhead, and also harder to code. So I've decided to leave it that way :)

[2020-11-02 17:16] qumuq-til commented on #110
I see. Well, I wouldn't personally worry so much about overhead given that Ryzens are quite performant and the bar window can be easily closed, but maintaining the codebase may indeed be harder. Maybe you'll find some other simpler way, like keeping the grille and the original smooth bar but applying blur and a step-sliding mask above the blue part to prevent blur spillover, instead of fading ever

[2020-11-08 13:50] fojerhar opened #111 "3970X"
Hi
First, nice job, thank you!
I have a 3970X with oc 0.6.1 w 10.15.6 installed with Asrock Taichi TRX40
A question, my core boost max is always 4.27Ghz, never goes higher.
Is it possible to reach the factory 4.5 (or even higher) clock speeds? Would be amazing.
I use this computer for audio production, and as I work in pro tools, during the work the clock drops down to 3Ghz, and my playback stops,

[2020-11-13 11:29] itsnwa commented on #66
I'm getting all my fans listed in AMD Power Gadget, but https://github.com/gao-sun/eul does not display my fan information. Is this expected? Or is it something that needs to be fixed in the Eul app?
<img width="592" alt="image" src="https://user-images.githubusercontent.com/19958806/99067792-9129c080-25ab-11eb-8baa-ced373de0c8b.png">

[2020-11-16 08:58] mathisschmieder commented on #66
I would also highly appreciate support for the Winbond/Nuvoton NCT6779D as found on the ASRock B450 Pro4 and B450M Pro4.

[2020-11-18 14:11] YGQ8988 opened #113 "OC0.6.3 and OSX 10.15.7 Ryzen3100"
When I use this drive, it freezes a few minutes after I boot it up. Can you help me?
OC plist，DummyPowerManagement set False
If I don't have the driver, use NullCPUPowerManagement.kext  all normal.

panic(cpu 5 caller 0xffffff7fa20ecf3d): CPU 7 has no HPET assigned to it
Backtrace (CPU 5), Frame : Return Address
0xffffff82053e3c90 : 0xffffff801e71868d mach_kernel : _handle_debugger_trap + 0x49d
0x

[2020-11-18 14:21] ProximalPod opened #114 "Zen 3"
I'm doing some checkups on benchmark results with and without the kexts. I seem to be getting higher scores without them. Would you expect the default settings when kexts are loaded to do something like that? I have PBO enabled from bios.

Also, the new processor's family is 0x19. I checked the code and family only seems to be used for the supported boolean. Aside from this performance quirk i can

[2020-11-18 14:35] fer662 commented on #114
(same person here, posted on wrong account hehe)

Cinebench 23 single core is about 5% lower. Not gonna kill anyone but would be nice to understand
Cinebench 23 multi core is the same, within margin of error.

[2020-11-18 14:55] trulyspinach commented on #114
Thanks for the feedback. I do not have the new 0x19 processor yet :( so can not have it tested myself.
So it is working on your system without problem apart from the CPU family check? I will also double check with AMD's documentation later if they have published one.

Lower score with single threaded benchmark should be expected in this situation since what the kext does is to switch idle core to

[2020-11-18 15:04] fer662 commented on #114
Ok that's what I had hypothesized as well. Yes, everything is working as you can see on my reddit success post. OpenCore needed to be updated because the family change made it miss some switch cases where it configured clock related stuff but it was trivial. I'm going to try the app setting and report back.
![unappealing to be beaten but what appears to be a fricking mobile chip](https://user-imag

[2020-11-19 20:10] dhoenig commented on #30
I'm trying to build this (just for fun for now), but I'm getting another compile error.
".../SMCAMDProcessor/SMCAMDProcessor.hpp:7:10: 'Library/LegacyIOService.h' file not found"
I don't seem to be able to find the LegacyIOService.h header file anywhere on my Big Sur installation. Any idea?

[2020-11-20 09:05] trulyspinach commented on #113
Hi, from the panic log the problem was not caused by this kext.

This panic was requested by AppleIntelCPUPowerManagement and is a common issue on AMD processors. Although this kext replaces AICPM's runtime handle, it make no attempt to prevent AICPM from loading. So if AICPM loaded first it will request this panic. You can keep both NullCPUPM and this kext so NullCPUPM can disable AICPM. I believ

[2020-11-20 09:05] #113 closed

[2020-11-20 09:07] trulyspinach commented on #111
It is expected for it to drop to around 3Ghz under heavy load, the CPU was designed to behave that way so that it won't exceed the TDP limit. Unless you go over other options for overclocking :)

[2020-11-20 09:07] #111 closed

[2020-11-20 09:10] trulyspinach commented on #108
Hi,
Many system monitoring app just hardcode there menus with specify SMBIOS model, so they excepts different combination of SMC keys depends on your chosen SMBIOS model. Please refer to this discussion #10 for more.

[2020-11-20 09:10] #108 closed

[2020-11-20 10:22] YGQ8988 commented on #113
Thank you for your reply。
when i set DummyPowerManagement true，It works fine。

[2020-11-20 11:07] trulyspinach commented on #23
I am, so excited to announce that😎: this issue that existed since the beginning of this project have finally resolved in the latest release!
[Please check it out](https://github.com/trulyspinach/SMCAMDProcessor/releases/tag/0.6.6)

[2020-11-20 11:08] #23 closed

[2020-11-20 11:08] trulyspinach commented on #86
Hi,
This have been fix in [0.6.6](https://github.com/trulyspinach/SMCAMDProcessor/releases/tag/0.6.6)

[2020-11-20 11:08] #86 closed

[2020-11-20 11:10] trulyspinach commented on #114
The [latest release](https://github.com/trulyspinach/SMCAMDProcessor/releases/tag/0.6.6) now accepts 0x19 family number so it should load without problem now.

Please feel free to open up a new issue if any problem occur.

[2020-11-20 11:10] #114 closed

[2020-11-20 11:11] trulyspinach commented on #109
This should be resolved in the [latest release](https://github.com/trulyspinach/SMCAMDProcessor/releases/tag/0.6.6).
Please try it out!

[2020-11-20 11:11] #109 closed

[2020-11-23 23:10] Murmur2k commented on #66
Would it be possible to expose fan sensor and fan control to other applications (e.g. TGPro) to be able to control with fan curves?

[2020-11-24 03:08] trulyspinach commented on #66
@Murmur2k i don’t think it will ever be possible.
Almost all existing system monitoring tools on macOS depends on hard coded smc keys and SMBIOS model. The only possible solution would be to make a new and complete system monitoring tool.

[2020-11-24 08:40] Murmur2k commented on #66
Thanks - sadly my BIOS settings are a little lacking in that department :( I was able to do this in the past with TG Pro (not AMD CPU then though).. they have a "generic sensor" /  hackintosh mode that should pick up any published SMC

[2020-11-24 10:04] nvollmar opened #115 "Power Gadget causing substantial CPU load"
This is the normal CPU usage of the App based on version 0.6.2 (with kext version check removed):
<img width="852" alt="Screenshot 2020-11-24 at 10 58 39" src="https://user-images.githubusercontent.com/919730/100078912-56921480-2e44-11eb-88c3-15d082fcd78b.png">

This is the CPU usage of the App after 0.6.3
<img width="808" alt="Screenshot 2020-11-24 at 11 00 32" src="https://user-images.githubuser

[2020-11-24 10:04] #115 closed

[2020-11-24 10:05] aluveitie opened #116 "Power Gadget causing substantial CPU load"
This is the normal CPU usage of the App based on version 0.6.2 (with kext version check removed):
<img width="852" alt="Screenshot 2020-11-24 at 10 58 39" src="https://user-images.githubusercontent.com/61966108/100079375-e041e200-2e44-11eb-977c-b6960952da24.png">

This is the CPU usage of the App after 0.6.3
<img width="808" alt="Screenshot 2020-11-24 at 11 00 32" src="https://user-images.githubus

[2020-11-24 10:16] trulyspinach commented on #116
Thanks for pointing this out. I have noticed this since adding the animation. However, I never kept it open for too long and around 17% CPU usage for an active animation GUI app is not a too big deal and totally acceptable to me. Considering if some would like to keep the gadget open all day this might become a big headache.

It is always good to keep optimizing tho. I'll see if it is possible to

[2020-11-24 10:33] trulyspinach commented on #116
<img width="992" alt="Screen Shot 2020-11-24 at 6 33 19 PM" src="https://user-images.githubusercontent.com/8978490/100082739-94625d80-2e83-11eb-861a-51a06217080b.png">

[2020-11-24 10:45] aluveitie commented on #116
The App also pushes WindowServer CPU utilization considerably too.

I like to have it open since it saved me a couple of times when the power connection of pump was a little loose and suddenly stopped working. I just noticed this in time due to the CPU temp rising suddenly without any load on the system.

[2020-11-25 23:23] Schaefers commented on #66
I"m looking for support for the Winbond/Nuvoton NCT6687D as found on the MSI B550 Gaming Edge. Thanks for your great work!

[2020-11-26 18:35] marvelloard opened #117 "Support for AMD FX"
I know it's an older platform, but it would be very helpful if you could include support for 15h and 16h processors. They run macOS using OpenCore, but but right now there's no PM available. FX8300 user here ;)

[2020-11-26 22:16] influenist opened #118 "GPU / Radeon support"
Hi guys. I know it's not within the scope of this KEXT, yet are there any similar developments for a VirtualSMC plugin(s) for AMD/ATI Radeon cards?

Thanks

[2020-11-28 11:01] TurannUl commented on #118
@trulyspinach  this possible ?

[2020-11-28 11:12] trulyspinach commented on #117
Technically there should be no problem for one to develop a kext supporting them.
However, I do not have any pc with those processors thus I can not test and have no motivation. If you can develop or know someone who would interested in doing that it would be great. There’s many documentation out there available for those models.

[2020-11-28 11:15] trulyspinach commented on #118
Hi @influenist, I haven’t heard of any kext for this purpose. However iStats seems to be working fine reading sensors for my RX580. Have your tried it?

@TurannUl it is certainly possible to have a kext to do GPU monitoring, but I have no plan to implement them in this kext.

[2020-11-28 11:27] influenist commented on #118
@trulyspinach You sure its not the CPUs GPU? Earlier I thought I could read out the RX570, since a while I dont get any GPU info. In windows I can read them out, so it isnt a hardware issue.

Which version of VMC are you using anyway?

[2020-11-28 11:30] TurannUl commented on #118
iStats Don't reading my GPU Sapphire Pulse RX 5600Xt

[2020-11-28 16:00] marvelloard commented on #117
Thank you for your response. I'm not a developer and don't know anyone with the capabilities. But I would be able to do testing on my FX machine. I'd even pay a bit for development. Maybe others too?

[2020-11-30 07:56] trulyspinach commented on #118
<img width="276" alt="Screen Shot 2020-11-30 at 3 55 23 PM" src="https://user-images.githubusercontent.com/8978490/100582610-78980500-3324-11eb-94c0-3501fbeab068.png">

iStats is able to monitor RX580. I believe it is able to monitoring any GPU model as long as macOS has driver.

[2020-11-30 09:04] influenist commented on #118
Hi @trulyspinach, same iStat:
![Screenshot 2020-11-30 at 10 03 37](https://user-images.githubusercontent.com/22964559/100589463-6ea9de00-32f3-11eb-9173-8e3080dbe92f.png)
![Screenshot 2020-11-30 at 10 03 18](https://user-images.githubusercontent.com/22964559/100589464-6fdb0b00-32f3-11eb-8005-d53745075362.png)

Which version are you using?

[2020-11-30 20:32] TurannUl commented on #118
Mine GPU Rx5600XT iStats Lastest
![Ekran Resmi 2020-11-30 23 31 17](https://user-images.githubusercontent.com/70968210/100661254-3db5c180-3364-11eb-90aa-11bdb4d0538a.png)
![Ekran Resmi 2020-11-30 23 31 19](https://user-images.githubusercontent.com/70968210/100661260-3f7f8500-3364-11eb-8ba4-4740c3ed3b00.png)

[2020-11-30 20:55] influenist commented on #118
Thanks for the feedback guys. Im using Mac Pro (Late 2013) in clover. Perhaps this is the root cause of my issue. I'll check it out later.

[2020-12-01 03:32] #118 closed

[2020-12-01 04:17] trulyspinach commented on #82
This should be fixed by the latest release. Please open up a new issue if the problem persist.

[2020-12-01 04:17] #82 closed

[2020-12-07 14:38] trulyspinach opened #119 "Adding menu bar status display items"
Hi all:
There's been a lot of requests for making the Power Gadget application to have an option to stay running in the background and probably displays some information in the top menu bar.
So I would like to open this issue in the hope that it can collect some more perspective on this thought.

* Do you really want this menu bar status display?
* If yes, what information from Power Gadget you wo

[2020-12-08 10:46] radianttap commented on #119
Making a good, efficient menu bar app is quite a challenge.

I would much prefer development of VirtualSMC plug-in that exposes the sensors in Mac friendly way so other apps (iStats, iStatistika, Sensei app) can see them and display.

I have B450 board with Ryzen 5 3600 and X570 with Ryzen 9 5900X. Would be more than happy to test whatever you have.

[2020-12-09 05:29] #30 closed

[2020-12-09 05:29] #119 closed

[2020-12-09 05:31] #66 closed

[2020-12-22 09:36] straki opened #121 "macOS Big Sur SMC Fans text is not readable"
I'm running Big Sur with Ryzen 9 3900x and SMC Fans window looks a bit different than all other windows so the text is not that readable.

![Screenshot 2020-12-22 at 10 12 07](https://user-images.githubusercontent.com/3831239/102873414-626ff700-4441-11eb-9f73-0140717d7c6c.png)

[2021-01-19 22:02] sprainbrains commented on #117
I guess we need to create a AMDFXCPUPowerManagement.kext for the FX family...

[2021-01-21 11:11] trulyspinach commented on #121
is this the latest version? It should appear in dark mode.

[2021-01-21 11:45] straki commented on #121
I think, is this the latest one?
![Screenshot 2021-01-21 at 12 45 04](https://user-images.githubusercontent.com/3831239/105346985-8eb89800-5be6-11eb-92d8-f1403ec406b7.png)

[2021-01-22 20:20] amatosg opened #122 "Authenticating extension failed: Bad code signature"
I copied the kext into `Library/Extensions` and then tried to load the kext file and I get the following error:

[code]

If there is more info needs, please let me know.

[2021-01-23 09:39] trulyspinach commented on #121
Oops, yes I can confirm this is a bug!
Thanks a lot for pointing this out, I will post a fix in next release.

[2021-01-23 09:42] trulyspinach commented on #122
I am having the same issue ever since upgrading to Bir Sur. Seems like Apple adopted some new policy for loading kext.
However to use this kext you can configure OpenCore which will bypass apple's verification process.

Any help with the new policy is much appreciated :)

[2021-01-23 09:50] trulyspinach commented on #117
If there's ever be a support for FX family we probably need a ['big rewrite'](https://www.youtube.com/watch?v=xCGu5Z_vaps)(refactor) of the main cpp class, should not be too much work. As long as some with FX processes are willing to develop and test.

[2021-01-24 10:10] marvelloard commented on #117
I gave up on my AMD hack.

[2021-01-26 07:26] mertcelen opened #123 "Core Performance Boost Persistent Configuration"
Hello there! I love this app, thanks for your hard work.

I was wondering, if it's possible can we keep core performance boost settings by launching app after login and remembering our last selection or some exposed bash command so that we can use with automator or something.

Thanks!

[2021-01-28 04:54] trulyspinach commented on #123
Hi,
You can simply encode CPB in you BIOS setting and it will persist after reboot.

[2021-01-31 23:22] horus1963 opened #124 "[SOLVED] Kernel Panic within a minute from boot"
Hi,

When I install these extensions on my Threadripper 3960x system, I get a kernel panic within a minute from login. Below are the last two kernel panic logs:

==========================================================================================

panic(cpu 14 caller 0xffffff800dfe1860): "Spinlock acquisition timed out: lock=0xffffff871d3f9740, lock owner thread=0xffffff8720cd5d10, current_t

[2021-02-02 05:50] trulyspinach commented on #124
Hi, thanks for the issue.
Is this happening every time and preventing you from using the kext? I do not have a Threadripper but as for as I know it is the same architecture as Ryzen cpus and others using Threadripper have reported to have no problem running.

[2021-02-02 07:59] horus1963 commented on #124
Yes, it is happening every time. May be it is something specific to my setup. What would you need to help narrow it down?

[2021-02-09 02:15] horus1963 commented on #124
It looks like that having an undervolt in the BIOS of the motherboard is what was causing the problem. With the undervolt the system will kernel panic when SMCAMDProcessor.kext is loaded. Without the undervolt, both the kext and the system are working great so far (has been running for more than 24 hrs with no problems).

Thanks a million for this.

[2021-02-13 20:18] wtfloris opened #125 "CPU frequency stays at max level"
Hi all,

I'm not sure if there's actually something wrong or if I just don't understand it, but it seems to be the CPU freq should automatically be dialed down when there's little workload, right? Mine doesn't seem to do that according to AMD Power Tool. Screenshots included, it stays at 4.2 GHz (with auto speed adjustment enabled of course). Even when I manually click a lower speed step, it stays

[2021-02-16 14:54] wtfloris commented on #125
Asked for support in the AMD OS X Discord server, just wanted to share what trulyspinach told me in case someone runs into the same problem:

[3:36 PM] trulyspinach: i remembered some have problem setting speed when they have undervolt enabled in bios
[3:37 PM] trulyspinach: did you enabled any such options as well? It seems that bios will constantly use smu to override cpu settings thus the chang

[2021-02-16 19:16] wtfloris commented on #125
The issue was a manual overclock through the BIOS. Undervolting works fine, as long as you don't manually set a clock speed/multiplier.

Now using PBO with some manual undervolting and it works fine.

[2021-02-16 19:16] #125 closed

[2021-02-18 02:51] #124 closed

[2021-03-14 02:22] robbins commented on #117
Just want to note my interest in FX support, currently running an FX-6200 here. Would be available to test whatever, if you would consider making a version for AMD FX CPUs.

No worries if this isn't possible though 👍

[2021-03-20 07:43] Petelin opened #129 "feature/question request， fan control ask auth every time"
<img width="534" alt="截屏2021-03-20 15 38 25" src="https://user-images.githubusercontent.com/11812370/111862780-78367f00-8992-11eb-9f34-a3462b512365.png">

Hi thanks for this genus APP

After restart，this fan control wight will require re-auth， i want to trust it and give it what it want with out approve（maybe a script？）， how can i do it？

[2021-03-20 07:52] Petelin commented on #129
i do some operation now it will crash， 😂

[2021-04-13 06:45] mlch911 opened #130 "Feature Request - control fan speed via cpu temp"
Now it can change fan speed once.

Is it possible to add a tool to control fan speed via cpu temp?
like many other fan control tool.

Or is there any cli tool to call that can read cpu temp and change fan speed ? And I can write a script to do the same thing.

[2021-04-14 12:28] trulyspinach commented on #130
Hi mlch991. I can understand this and it wasn't any hard to implement. But this just isn't right: this type of automation is typically handled by specialized hardware(SMC, PCH, etc.), with much better accuracy and response time while not wasting CPU resources. It's the vender's job to make sure it was configured correctly. In term of DIY builds you can typically configure this with the EFI config

[2021-04-15 06:16] mlch911 commented on #130
I agree with you. But the fan curve I can setup in BIOS is so stupid and limited. So I usually config custom fan curve in software. And I can change it whenever I want.

[2021-04-15 13:02] trulyspinach commented on #130
Indeed, I also feel that those UIs are trash. But adding automation to this software won't solve this problem.
Maybe one can take a look into if it is possible to modify those configurations. It is definitely possible since most MB vendor also provide a OS level application that can modify fan curve, also trash tho. But I believe there isn't any API document available and we need to hack our own w

[2021-04-16 08:22] mlch911 commented on #130
Thx a lot.

BTW. Is it possible to add Power and Frequency data to iStat ?

[2021-04-16 11:20] trulyspinach commented on #130
There's an old thread #10 that talked about this. Power should be shown in iStat for some SMBIOS if you get SMCAMDProcessor loaded. I don't think frequency is possible since iStat doesn't not display it.

[2021-04-21 22:00] 6668 opened #131 "四叶草怎么用 我用四叶草引导 安装好 了 启动MAC它说没装好 只能OC引导用???"
111

[2021-04-23 03:06] trulyspinach commented on #131
This repo is English only. Please only use English for communication, thanks.

[2021-04-23 03:06] #131 closed

[2021-04-23 03:13] 6668 opened #132 "Clover Configurator macOS , not OC how to install it?"
do  you  understand?

[2021-04-23 03:23] trulyspinach commented on #132
Thanks your time posting this.
I can not think of a reason to use Clover instead of OpenCore and I am not sure if this will work with Clover neither. Since it does not depend on OC, there should not be a problem as long as Clover can load the kext correctly. You'll have to refer to Clover's instruction on how to configure loadable kexts.

[2021-04-23 03:23] #132 closed

[2021-05-28 11:59] jbmorgado opened #133 "Can't start AMD Power Gadget or get stats even though the kext appears as loaded"
I am confirming the kext is loaded:

[code]

Yet, I can't neither get the temperature stats, nor can I even start AMD Power Gadget (it quits right away with the message: "No AMDRyzenCPUPowerManagment Found"

[2021-05-28 17:53] jbmorgado opened #134 "Kernel Panic on Zen 3 (Ryzen 5 5600x)"
I can't get it to work on Zen 3, the kernel dump is:

[code]

[2021-06-30 05:58] Pain-and-Love opened #135 "need update for 5950x"

[2021-06-30 06:00] trulyspinach commented on #135
Hi,
Can you elaborate a bit? What kind of issues you've encountered on 5950X?
I do not have that hardware so I am not able to test myself.

Thanks

[2021-07-01 02:42] #135 closed

[2021-07-01 02:44] trulyspinach commented on #133
Are you sure you have the latest version of both?

[2021-07-01 02:44] #130 closed

[2021-07-01 02:45] #123 closed

[2021-07-01 02:45] #122 closed

[2021-07-01 02:45] #104 closed

[2021-07-01 02:46] #105 closed

[2021-07-13 05:20] johnlietzke opened #136 "Menu Bar widget with CPU temperature and fan speed"
Would it possible to add in a menu bar widget with CPU temperature and fan speed?

[2021-07-14 06:43] trulyspinach commented on #136
Definitely possible! In fact, I've opened this thread(#119) on this topic a while ago.
But since personally I'm not really interested in this feature I never started to invest time in it.

[2021-07-14 07:25] johnlietzke commented on #136
On the MacPro7,1 the SMBios does not have the CPU temperature in third party monitoring software. I used iMacPro1,1 to fine tune the temperature over time with iStat Menu showing the temperature and fan speeds. Then changed it back to MacPro7,1.

I have found that having the CPU temperature and fan speeds readily visible provides a quantifiable base for understanding the thermals as each configura

[2021-07-29 15:01] trulyspinach commented on #136
I've pushed a commit that includes a minimum basic menu bar item: 4c5045320358e65d3c69444ac8516cf8b1a7d77a .
If you are able to compile it free feel to try it out. A new built release will wait for more changes being made.

[2021-07-29 16:13] johnlietzke commented on #136
Thanks.

I will compile it this evening and try it.

Any ETA on the app release so I can pass it?

[2021-07-29 16:18] trulyspinach commented on #136
Probably tomorrow 😜

[2021-07-29 16:43] johnlietzke commented on #136
I will wait to pass along the update to others until the app release so you are not bombarded with questions about how to compile the app.

Thank you again.

[2021-07-30 13:24] trulyspinach commented on #136
Published!
Feel free to provide any feedback in #137

[2021-07-30 13:24] #136 closed

[2021-07-30 15:35] johnlietzke commented on #136
Thank you for the update.  It is perfect and looks very clean.

[2021-07-30 22:48] Xardas220 opened #138 "No CPU Temp. in iStat with 0.7"
Hi,

just updated to 0.7. I have no CPU temperature in iStat anymore. I'm on MacOS 11.5.1, OC 0.7.0. Is this known or do I have a wrong setting? There is the new function to use the internal temperature and stuff, but I want to use the one in iStat.

Thanks,

Xardas

[2021-07-31 01:01] trulyspinach commented on #138
Hi,
This is interesting, I did not change anything in SMCAMDProcessor. As you can probably see the source code for it have not been changed for a while.
Did you changed your SMBios somehow? It will break whatever the SMC key iStat use to display package temperature.

[2021-07-31 07:49] Xardas220 commented on #138
Hi,
nope, I changed nothing only the two .kext's. These are also the same in name and were replaced with the old ones. I booted from a USB-Drive that is exact like the boot-folder on my EFI-drive, with the difference that 0.7 is on the USB-drive.
1. I booted again from the internal (old SMCAMD..) and the temp is there.
2. Replaced the new SMCAMD.. with the old on the USB-drive, the temp works agai

[2021-07-31 07:52] trulyspinach commented on #138
Can you `kextstat | grep SMCAMD` when the temp doesn't show just to verity if SMCAMDProcessor is correctly loaded?
If not maybe OC's log can help diagnostic the problem.

Thanks

[2021-07-31 09:40] Xardas220 commented on #138
Here the screenshot of kextstat. Also a screenshot of the missing CPU-temp but the CPU-temp of the internal reading. Normal there is the CPU-temp on the menu bar of iStat left from "MEM".

![image](https://user-images.githubusercontent.com/28394829/127735764-8fb6dfb1-0118-46ac-8ef2-cc9cd5f012f6.png)

![image](https://user-images.githubusercontent.com/28394829/127735804-a0588422-fb5e-4fdb-8a63-0bf1

[2021-07-31 11:41] trulyspinach commented on #138
Seems like it loaded without problem, I was thinking if the 0.7 cause it failed to load. I am out of idea for now and I can't really test it at the moment. If the previous version works fine for you maybe you can stick to it until this is fixed.

[2021-07-31 21:36] Xardas220 commented on #138
Mh, that‘s weird. I‘ll use the older version and wait for a bug fix. Thanks for the fast reply! :)

[2021-07-31 22:13] Schaefers commented on #138
I just updated AMDRyzenCPUPowerManagement.kext to 0.7 and for me the temps in iStat Menus are still showing fine.

[2021-07-31 22:16] Xardas220 commented on #138
Have you done both SMC and power management? Or only power management?

[2021-07-31 22:17] Schaefers commented on #138
Only power management.

[2021-07-31 22:19] Xardas220 commented on #138
I updated both. Maybe thats the problem. I‘ll try tomorrow.

[2021-08-01 02:33] trulyspinach commented on #138
@Xardas220 Please let me know if 0.7 works good with some older version SMCAMDProcessor for you.

[2021-08-01 08:59] henkiewie commented on #138
The same thing happened here.
![Screenshot 2021-08-01 at 10 14 56](https://user-images.githubusercontent.com/74558874/127765391-dfbaeef4-539f-467f-9179-a0671746a93b.png)

Only restoring the previous SMCAMDprocessor.kext brought back the temperature in iStat.
![Screenshot 2021-08-01 at 10 56 55](https://user-images.githubusercontent.com/74558874/127765398-d57338cd-9555-47ec-b77e-6b378a8e98c2.png)

[2021-08-01 09:01] trulyspinach commented on #138
@henkiewie does the previous SMCAMDProcessor.kext works fine with 0.7?

[2021-08-01 09:04] henkiewie commented on #138
@trulyspinach Yes it does for me. See the second screenshot.

[2021-08-01 09:19] trulyspinach commented on #138
Thanks, then I am guessing maybe the source code changed at some point either accidentally by myself or some pull requests that caused the problem. I’ll look into this soon.

For now I believe the workaround would be to use the previous version of SMCAMDProcessor.

[2021-08-03 13:05] Jacobax commented on #138
same here
OC0.7.2. Stats shows no temperature
the previous version works fine with OC0.7.1

[2021-08-04 03:30] moosethegoose2213 opened #139 "Menu Bar Options Unresponsive When Restoring from Metrics"
When restoring the Power Gadget window from the menu bar icon, the left side menu options become unresponsive until clicking out and back to the window. This happens while running MacOS Monterey with v1.7 (V2) of the Power Gadget.

[2021-08-04 12:36] trulyspinach commented on #139
Hi,
I have also noticed this behavior. If you switch another application to foreground then switch back it will be responsive. For now I strongly believe this is a bug in macOS.

[2021-08-06 08:09] moosethegoose2213 commented on #139
Probably, wouldn't be surprising. If I have time, I'll see if the same behavior exists in Mojave tomorrow

[2021-08-08 19:48] iGPU commented on #139
Many of us truly enjoy using your kexts and app. The app is very useful. Thanks!

While you may not intend to support the TRX40 mobo, many of us are successfully using your app on this platform.

However, with the latest v1.7 there are some system crashes and lockups. I've written about it [here](https://www.macos86.it/topic/3307-trx40-bare-metal-vanilla-patches-yes-it-worksbutis-proxmox-better/?d

[2021-08-10 03:10] trulyspinach commented on #139
Hi @iGPU thanks for letting me know this discussion. I have been using 1.7 daily in Big Sur and so far haven't encountered any problem myself.

- Can you post a panic log of your 60 second lock down to I can see how it was causing the panic?
- Does this happen only in macOS 12?

The AMD Power Gadget application runs in userspace and I have done some measures to make sure its internal problem won't

[2021-08-10 18:09] iGPU commented on #139
Thanks for reply. The DummyPowerManagement quirk is not typically needed for the TRX40 mobo (except, up until now, for Gigabyte TRX40 mobos). After reading your reply, this is the first thing I changed, enabling DummyPowerManagement.

The system now seems stable when using your latest kexts in Monterey ß4 (I've not yet tested in Big Sur, but now foresee no problems). So, it would appear that all T

[2021-08-30 16:00] lwndow commented on #138
wanted to add my experience. added both 0.7 kexts (no previous install) and had no CPU temp (Aorus B550 Master). swapped the 0.6.4 SMCAMD in and it was registering again. big sur, 11.5.2, macpro7,1, OC 0.7.2

[2021-09-03 08:39] styl3zs opened #140 "Could not found driver for your SMC on Ryzen 5 3600XT"
The AMD power tool works just fine, but my fans are running like crazy all the time. I added the kext and did an OC snapshot, but I still can't change the fan speed. What can I do?
![Screen Shot 2021-09-03 at 01 39 06](https://user-images.githubusercontent.com/90001157/131976661-5192f435-b3d0-46eb-9664-97997c48b489.png)

[2021-09-15 10:03] Knives79 commented on #97
Thanks trulyspinach for this amazing software, I'll love to have that option too.

[2021-09-18 06:21] VisualDevelopment commented on #138
@trulyspinach According to GitHub, these are the two files changed for SMCAMDProcessor between 0.6.4 and 0.7: https://github.com/trulyspinach/SMCAMDProcessor/compare/0.6.4...0.7#diff-dfe3acd27b622462e1429fdeaa0ee0ad7dd168eb0de8807b1a8c7e818a8a7252

[2021-09-28 18:15] stockHuman commented on #134
I don't know about how help I can be, but perhaps we could compare system config, because I have my [5600X working](https://user-images.githubusercontent.com/13852458/135142878-37611e0d-ca5e-444e-842a-2ebbd2b21101.png), following an in-place upgrade from a 2600.

[2021-10-09 16:02] core-code opened #141 "version number mismatch on macOS"
i have downloaded version 0.7 but when selecting it in the Finder it claims to have version 1.7:
<img width="257" alt="Screenshot 2021-10-09 at 18 02 02" src="https://user-images.githubusercontent.com/1261954/136665810-34c33bce-d011-453c-a8e3-d18ba96b0b1f.png">

[2021-10-12 01:26] 23d1 opened #142 "Threadripper 3990x"
There seems to be a lack of support for 3990x, realizing of course that 128 threads is not possible in macOS (yet, if ever). I have my 3990x set to single thread in BIOS for the sake of actually being able to boot into macOS. All is well, except the boost/base clock frequencies.

The CPU essentially stays at 2.9GHz constantly, and no load or lack of load sets the clock in any direction (up/down),

[2021-10-22 10:21] radianttap opened #143 "System log: (SMCAMDProcessor) <compose failure [UUID]>"
In the system.log, I found a series of identical entries.
Not sure what it could be:

[code]

Using kexts from release 0.7

[2021-11-01 19:15] 23d1 commented on #142
My bad, NUMA/CPU Virtualization passthrough was enabled in BIOS which doesn't play well with macOS.

[2021-11-01 19:15] #142 closed

[2021-12-31 12:37] radianttap opened #144 "APGLaunchHelper quarantine / crash"
Found bunch of these in system log.

[code]

[2022-01-01 04:40] trulyspinach commented on #144
Sounds like it might have something to do with your security setting that disallow applications outside of App Store?

[2022-01-03 09:54] radianttap commented on #144
I have the option like this:
<img width="343" alt="Screenshot 2022-01-03 at 10 53 19" src="https://user-images.githubusercontent.com/80697/147917802-618a4479-f754-44c8-afdd-4d9182891e5a.png">
I use this since the option appeared in macOS.

Maybe some of the macOS updates put the Helper into quarantine for some reason..?

[2022-01-03 21:46] Overc1ocker commented on #140
What EC (SMC) chip does your mainboard have? Common EC's include: Nuvoton NCT-xxxx or ITE ITxxxxx-x.
This chip is also called a SuperIO chip and can be found in your mainboard's documentation or sometimes it is visible just by looking for it on your mainboard itself.

[2022-02-01 14:26] Vorshim92 opened #145 "Ssdt-plug or not to plug?"
Hi there. I have a big question. Is a good idea to use Ssdt-plug on ryzentosh to enable X86PlatformPlugin considering that your kext already control the cpu power management?
Ioreg of ryzentosh with and without Ssdt-plug:

With:
 ![image](https://user-images.githubusercontent.com/7747380/151979179-46635af7-4b4b-4151-8967-6010b298a861.png)

Ioreg:

Without:
![image](https://user-images.githubuserco

[2022-02-01 19:53] johnlietzke opened #146 "Add liquid temperature sensor"
Is there any way to add the liquid temperature sensor to the AMD Power Gadget?

This would be very helpful for understanding correlation of fans in SMC Fans to the liquid.  I know it would require a specific kext for the motherboard to report the information.

[2022-02-03 05:57] trulyspinach commented on #146
It depends on how your liquid temperature is connected to the system. If it is attached via your onboard SMC it should already showing inside the SMC Fans menu. However, if it is some external sensors(USB, etc) we might need specific driver to make it available to read in macOS.

[2022-02-03 06:17] johnlietzke commented on #146
I am using the motherboard.  Are you planning to add the temperature back to the kext or was there some underlying reason it was removed?

[2022-02-09 21:11] sourceblaak commented on #144
04:56:35 com.apple.xpc.launchd[1] (wtf.spinach.APGLaunchHelper[1804]): Service exited with abnormal code: 78
Feb  9 04:56:35 com.apple.xpc.launchd[1] (wtf.spinach.APGLaunchHelper): Service only ran for 0 seconds. Pushing respawn out by 10 seconds.

I have something similar Minus the first line about the quarantine.

[2022-02-22 12:45] DNNhost opened #147 "Cannot start AMD-Power-Gadget - Service exited due to SIGKILL"
Feb 22 13:25:55 Computername com.apple.xpc.launchd[1] (application.wtf.spinach.AMD-Power-Gadget.691467801.691467806[728]): Service exited due to SIGKILL | sent by loginwindow[145]

[2022-02-22 12:52] DNNhost commented on #147
extstat | grep -v com.apple
Executing: /usr/bin/kmutil showloaded
No variant specified, falling back to release
Index Refs Address            Size       Wired      Name (Version) UUID <Linked Against>
   _49    8 0                  0x8b000    0x8b000    as.vit9696.Lilu (1.6.0) 5705E96F-E765-3FBD-8F78-F2B9B3F18C5E <8 6 5 3 2 1>
   50    0 0                  0xe000     0xe000     meow.IOIIIO.MacProM

[2022-02-22 22:34] sourceblaak commented on #144
Still dragging on. Any support on this please? @trulyspinach

[2022-02-23 17:20] HoshiYamazaki commented on #146
I also upvote the issue, I can't read the temperature in iStat, though it appears in AMD Power Gadget.

[2022-02-23 17:38] johnlietzke commented on #146
If you want the CPU and GPU temperature in iStat Menus you these Kexts in addition to VirtualSMC.

![Screen Shot 2022-02-23 at 9 37 36 AM](https://user-images.githubusercontent.com/4194767/155375542-d4ef780c-5946-48a1-ac08-8f20661d0996.png)

[AMDRyzenCPUPowerManagement.kext.zip](https://github.com/trulyspinach/SMCAMDProcessor/files/8126515/AMDRyzenCPUPowerManagement.kext.zip)
[RadeonSensor.kext.zi

[2022-02-24 00:34] kode54 commented on #10
Unsubscribing, as I no longer run any Hackintosh systems.

[2022-07-07 19:23] johnlietzke opened #148 "Ventura Beta 3 AMDRyzenCPUPowerManagement.kext Problem"
In order to boot Ventura Beta 3 AMDRyzenCPUPowerManagement.kext and SMCAMDProcessor need to be disabled.

I don't know if you were aware of the issue but though I would reach out and let you know.

[2022-07-08 09:50] extremegrief1 commented on #148
Fixed with #149.

[2022-07-08 11:37] taqieallah commented on #148
can you please upload the new kext ?

[2022-07-14 00:04] trulyspinach commented on #148
Sorry for the delay! It’s uploaded to the new release!

[2022-07-14 00:04] #148 closed

[2022-08-03 03:29] inseyven opened #153 "Always full power"
The app consumes around 20-30% of CPU usage. Also the freq. stays at 4,3GHz the whole time making my temps ramp up to 74-75 degrees which is madness with liquid cooling. It needs a fix.

[2022-09-01 09:22] SavageAUS opened #155 "No AMDRyzenCPUPowerManagement Found!"
Just in case the picture doesn't speak volumes.
Latest kexts downloaded, OpenCore 0.8.4.
I get this error every boot.
![Screenshot 2022-09-01 at 6 46 52 pm](https://user-images.githubusercontent.com/17326832/187879243-4e31bd56-6fcd-4be8-9955-125283e0efca.png)
If i quit and reopen it, it works just fine.
![Screenshot 2022-09-01 at 6 51 51 pm](https://user-images.githubusercontent.com/17326832/18787

[2022-09-09 19:19] johnlietzke opened #156 "Not Publishing CPU Temperature Readings"
Just wanted to let you know that the CPU temperature does not show up in the third party apps like iStat Menus with (0.7.1). Maybe something to do with SMCAMDProcessor.  The modified version of 0.7.0 which was patched for Ventura publishes the temperature.

[2022-09-21 04:36] brorbw opened #158 "Small bin to extract data"
This is a snowflake thing but some of us likes to have data accessible from the terminal. I have created a small tool that talks to `AMDRyzenCPUPowerManagement` and pulls the data and print it to the terminal. I have written it in swift for ease of integration into this project if thats something thats wanted.

https://github.com/brorbw/amd-cpu-data/

[2022-09-28 08:19] SavageAUS commented on #155
Hello? Can I get some support with this please.

[2022-10-22 03:25] trulyspinach commented on #155
Hi, hope you were able to resolves this!

Otherwise, I think you might have multiple instance of the application in your filesystem. Try to delete all of them and downloaded the latest version then put it into application folder before starting.

[2022-10-23 02:04] SavageAUS commented on #155
Honestly was only solved about 2 days ago when I finally had some time to sit down.
I removed all traces of the app, downloaded the newest Kexts and app again. Deleted the "old" kexts from EFI, moved the new ones into EFI and rebooted.
This removed the app from startup and background tasks. I then launched the app and added it to the login items, rebooted and all seems to be good.

[2022-10-25 12:41] rx2347 commented on #153
Duplicate of https://github.com/trulyspinach/SMCAMDProcessor/issues/116

[2022-10-25 12:48] rx2347 opened #159 "Feature request: Default option for CPB"
I'd love to see a feature where I can choose to set the startup value for the Core Performance Boost.

So why would you need this?

I tend to turn if off every time my system starts up or wakes from sleep as the whole system runs a lot cooler and I don't need CPB most of the time anyways, but like to switch it on when there actually are some tasks that require the whole power of my CPU.

Don't kno

[2022-11-24 07:10] bizkut opened #160 "SMCAMDProcessor is respecting CPU's TDP"
I am not sure if this is a direct issue with SMCAMDProcessor because I cannot replicate the issue without it. But macOS (Ventura 13.0.1) is running on lower power comparing to Windows using the same BIOS settings.

CPU: 5800X3D (TDP 105W)

macOS
Cinebench r23 score: 13700+
Power: 105 watts and fluctuate 2-5 watts. Literally around the TDP of the CPU
Temp: 75c

Windows 11
Cinebench r23 score: 14200